[2019-03-24 08:24] hadoop835 opened #1 "有管理控制台吗"
有管理控制台吗

[2019-03-25 02:07] caojie09 commented on #1
控制台已经在规划中了，相关RoadMap见： [路线图及任务认领](https://www.sofastack.tech/sofa-registry/docs/RoadMap)，欢迎共建~

[2019-03-25 09:58] Synex-wh opened #3 "临时推送数据在合并推送逻辑存在问题"
### Describe the bug

Temporary push data will be specially treated.but in the merge data process, temporary data flag will be override by normal push data, and as same batch to put to cache map.But temporary data has not existed source address, it will invalidate normal data to be add to cache map that cause the NPE exception

### Expected behavior

### Actual behavior

### Steps to reproduce

##

[2019-03-28 01:11] huangyunbin opened #6 "data的多副本是怎么保证一致性的呢？"

[2019-04-01 01:14] quqiangsheng opened #7 "请教和nacos的对比,有什么特色功能"
### Your question

请教和nacos的对比,有什么特色功能
### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-04-01 05:29] wenweihu86 commented on #6
@huangyunbin 看起来是没有保证一致性，数据是存在内存的。类似eureka。

[2019-04-01 12:10] atellwu commented on #7
SOFARegistry 和 Nacos 最主要的不同是：Nacos 把配置管理和服务发现的功能集成在一起；SOFARegistry 专注于服务发现和服务注册能力，对于配置管理部分会有另外的配置中心产品进行独立承载职责，这样的划分形式希望职责分明，每种能力都做到最强。

[2019-04-03 06:26] #7 closed

[2019-04-03 07:56] Synex-wh commented on #6
data的多副本目前没有保持强一致性，对于一个服务id按照一致性hash算到一个data存储节点，这个节点就认为是这个服务id的主副本，session会定期进行数据比对保持这个dataid的数据和session一致，也就保证这个数据最终和client源一致。这个主副本节点data会进行其他两个副本复制，在备份副本变为主副本节点的时候（比如主副本结点宕机），这个新的头结点如果有和之前头结点不一致情况靠session再进行比对达到最终一致的

[2019-04-05 06:28] Viyond commented on #7
yep

[2019-04-12 03:46] Synex-wh opened #9 "update jraft version"
### Describe the bug

MetaServer store other node list dependent on sofa-jraft consistency，but old jraft version has some bug cause refresh leader error by client，and sometime receive the leader ip as 0.0.0.0:0 .In jraft 1.2.5 version has fixed it，so we update dependency version 1.2.5

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or

[2019-04-18 01:30] goofyan opened #10 "各节点服务器配置咨询"
请分别提供下meta/session/data节点运行的服务器推荐配置：包括OS版本/位数、CPU性能、存储要求、网卡要求、是否可使用虚拟机等。谢谢~

[2019-04-18 02:53] atellwu commented on #10
- CPU性能、存储要求： 规模不大可以2核4G，规模较大推荐4核8G，SOFARegistry数据都存储在内存，磁盘主要用于日志的打印，占用不大，在日志可以定期清理的基础上，20G以上即可。
- OS版本/位数/虚拟机：理论上只要支持java8及以上的OS即可，建议64位，虚拟机是可以的，目前蚂蚁金服内部的SOFARegistry也是运行在虚拟机上(64位4C8G)。
- 网卡要求：SOFARegistry的数据传输主要是增量数据，所以对带宽消耗是比较节省的。当然实际的带宽需求受业务规模(服务的注册量)影响，所以建议经过实际测试后再确定，规模比较大建议千兆网卡以上。

[2019-04-19 02:59] huangyunbin opened #11 "MetaNodeExchanger 的connectServer应该只是连接其中一台meatserver就好吧"
![image](https://user-images.githubusercontent.com/1046037/56402953-fd3e2880-6291-11e9-8269-4a082f2fdcfa.png)
代码中看到是连接这个数据中心所有的meatserver的，这个不太合理吧，连接其中一台就可以了吧

[2019-04-19 06:39] goofyan opened #12 "是否有支持dubbo的计划？"
有的话，计划什么版本什么时间？

[2019-04-19 07:52] ujjboy commented on #12
@goofyan  I have completed the code and waiting for merging.
See: https://github.com/apache/incubator-dubbo/pull/3886

[2019-04-22 07:31] atellwu commented on #11
对，确实没必要连所有meta，后续我们会优化这一点。谢谢您的指正~

[2019-04-25 07:37] #3 closed

[2019-04-25 08:49] glmapper opened #14 "provide an interface to get session data"
In [SOFADashboard](https://github.com/alipay/sofa-dashboard), I hope to use SOFARegistry as a registry implementation, but currently SOFARegistry does not provide any interface to get service information.

[2019-04-29 02:40] #14 closed

[2019-04-29 02:49] Synex-wh opened #16 "Upgrade org.eclipse.jetty:jetty-server to version 9.4.17.v20190418"
### Describe the bug

fix security alert,Upgrade org.eclipse.jetty:jetty-server to version 9.4.17.v20190418

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-05-05 03:51] ujjboy commented on #12
@goofyan The PR has been merged.  Maybe release in `dubbo-2.7.2`.

[2019-05-05 03:51] #12 closed

[2019-05-10 02:10] goofyan opened #18 "服务数据是否无法保证多副本？"
基础环境：3meta+3data+2session。各个data节点配置storeNodes=3。data节点ip：7，8，9
现增加一个data节点做扩容，storeNodes也配置为3。ip为53
服务注册时主副本写到53节点，53节点计算后给7和9发送NotifyDataSyncRequest，但是9在处理完该datum后，又执行LocalDataServerCleanHandle，clean了该服务数据
导致该服务只在53和7中存了两个副本
----引申之，是否存在以下可能性：主副本给其他2个data节点同步数据，但是这2个节点都将该数据clean了，导致服务数据只存在主副本这一个副本？
----是否集群中data节点越多，以上风险就越大？
----另外，验证若配置主副本data节点的storeNodes为1时，将主副本的data节点停机后，在其他data节点上查不到注册的服务数据

[2019-05-10 04:19] #16 closed

[2019-05-10 05:38] Synex-wh commented on #18
首先感谢你对我们系统多节点复制功能的详细了解和测试，以及对代码的深入了解
其次，对于你所描述的场景，我可能理解有些偏差，是否可以给一个即时沟通的方式我们详细聊一下你的验证场景。
按照你描述我所理解的扩容场景，新的节点（ip 53）必须同步完其他节点的数据，变为working状态才可以开始接受新增数据写入（之前禁写读转发），并且对于新写入的数据进行多副本复制，这个过程其他现有节点（假设你要同步到的是7和9）应该已经获取到了最新列表（包含53的全量列表），LocalDataServerCleanHandle任务是会根据最新列表计算不属于当前节点的数据进行清理，为啥会清理掉你所说53同步过来的数据，我不是很理解，我们是否可以交流，我们也可以按照你描述尝尽进行进一步验证，也不排除我们验证的场景缺失

[2019-05-10 06:32] Synex-wh opened #19 "DataServer changes from working state back to init state"
### Describe the bug

- Sometime we found dataServer  changes from working state back to init state during startup，logs eg.:
![image](https://user-images.githubusercontent.com/8018119/57513107-07f35700-7340-11e9-8bac-aebb1ecbb114.png)

- Analysis found that the data startup log found that the first time all the data ip list information obtained from the meta is the first list, this is not in the e

[2019-05-10 07:56] goofyan commented on #18
这边有没有开发者沟通群之类的？不然我不知道怎么给您隐蔽点的即时沟通方式哈
我的场景是，新节点加入前集群中有几个服务目录，但是都没有提供方和订阅方。后来加入新节点，过了很久后才启动一个提供方（主副本在新节点）。我理解应该不存在启动提供方前各个节点数据不同步的问题
另外，我看LocalDataServerCleanHandle的run代码，clean的条件是!backupTriad.containsSelf()，backupTriad的ipSetOfNode又是由ConsistentHash.getNUniqueNodesFor计算来的。按我理解，ipSetOfNode的大小不会超过storeNodes的大小，即3，而在实际data节点超过3时必然会有缺失-----当然我也可能理解错了这两个方法的含义了~望指点~

[2019-05-10 08:46] ujjboy commented on #18
@goofyan  钉钉群 23127468

[2019-05-10 09:55] Synex-wh opened #20 "Provides querying all other roles ip list information interface on session and data"
### New Rest Api

Provides querying all other roles ip list information RESTFul api on session and data

- session `digest/<NodeType>/serverList/query`

[code]

- data `digest/<NodeType>/serverList/query`

[code]

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-05-13 01:03] goofyan commented on #18
钉钉群加了帮忙给通过下~
另外补充个场景：还是以上环境-主副本data节点53，另外一个副本data节点7
现在停53的进程，用http://ip:9622/digest/datum/query查询，该服务只在节点7能查询出提供方信息，于是认为节点7并未再将服务备份给其他data节点。而我此时再把节点7的进程停掉，新起一个订阅方服务不能调用了，报错提供方不存在。
请确认~谢谢！
另说明，我是用你们提给dubbo归并的SofaRegistry类基于dubbo进行服务调用验证的

[2019-05-20 04:16] Synex-wh opened #21 "Regular version detection rotation training logic failure"
### Describe the bug

- The stable environment finds that some machines can receive pushes after they have been online for a long time. Generally, the new registration pub is not pushed at the startup time, and the push is received after subsequent changes.

- Troubleshoot the log, write the data from the pub data, the dataServer notifies the session change and then gets the data and pushes it, bu

[2019-05-20 09:38] Synex-wh opened #22 "DataServer as a server to store other dataServer link information error"
### Describe the bug

- The test verifies the data synchronization process between dataServers. When the link is normal, the data backup notification information in the cluster is reported. The ip error of the link cannot be found.

- connect log eg:
![image](https://user-images.githubusercontent.com/8018119/58011620-3550b980-7b25-11e9-9318-35e04e67571a.png)
![image](https://user-images.githubuser

[2019-05-20 11:59] Synex-wh opened #23 "DataServer does not work after startup, receives client off request processing error"
### Describe the bug

- The dataserver receives the client off request when there is no working time, and the data synchronization and data deletion simultaneously cause the final data to be inconsistent.

- Therefore, we must postpone the client off request processing of the current node, and process the client off request after the no working state has to synchronize the other node data. That is

[2019-05-21 07:41] Synex-wh opened #24 "DataServer reconnects meta logic bugs causing all dataServers to fail to connect to meta"
### Describe the bug

- All sessions in the stable environment cannot be registered with the new pub, and the data node is calculated incorrectly. The link between the dataServer and the meta is invalid.log as:
![image](https://user-images.githubusercontent.com/8018119/58076914-faf72300-7bdd-11e9-9c6d-6b6a379a6b51.png)
![image](https://user-images.githubusercontent.com/8018119/58076940-0d715c80-7b

[2019-05-22 10:29] zhaojigang opened #25 "当前master代码打包出来的服务端启动健康检查报错"
### Your question

hi, 按照 https://www.sofastack.tech/sofa-registry/docs/Server-QuickStart 中自己下载源码包打包的方式，最后启动 server，健康检查报错如下：
![image](https://user-images.githubusercontent.com/14085645/58167718-2998fa80-7cbf-11e9-8a0c-d9921fe60b12.png)
还有这个监控检查是改了吗？lsof -i:9603 发现没进程占用
![image](https://user-images.githubusercontent.com/14085645/58167827-6a910f00-7cbf-11e9-81ef-f2889087ae96.png)

### Your scenes

[2019-05-23 10:49] Synex-wh commented on #25
你是否使用初始化nodes.metaNode参数使用了127.0.0.1，之前遇到过类似用户，如果不行你可以直接到钉钉群里问我 群号 : 23127468
![image](https://user-images.githubusercontent.com/8018119/58246965-12274380-7d8b-11e9-8f99-7aa5f2ed54f9.png)

[2019-05-23 10:51] Synex-wh commented on #18
我在钉钉群里联系过你是否在群里描述一下问题 @goofyan

[2019-05-23 11:07] zhaojigang commented on #25
嗯，默认是localhost，改成 127.0.0.1 也不行

[2019-05-23 11:14] Synex-wh commented on #25
你的mac还是win？换成当前ifconfig里的ip也不行么？我看你这个图截得是session的，是否其他角色ok呢，比如meta的curl http://{meta ip}:9615/health/check，按照你的图说的9603端口没有启动监听，应该在错误日志里爆错了，请贴一下具体原因，不行钉钉详细聊

[2019-05-23 12:35] zhaojigang commented on #25
感谢 @Synex-wh ，这个是因为我使用 jdk10 打了包，所以会出问题，改为 jdk8 去打包就 ok 了

[2019-05-23 12:35] #25 closed

[2019-05-29 00:36] goofyan opened #26 "meta节点咨询"
meta节点如果发生一台或多台宕机，会有哪些影响？
比如，是否影响服务注册、订阅；是否影响data或session节点上下线；是否影响服务数据备份？

----------------------------------------------

我们测试集群配置3meta3data2session，5.2.0开源版本，启动服务提供方后，停掉一个meta节点，启动订阅方，报找不到提供方。
这结论是否正确？meta节点是否会成为瓶颈？

[2019-05-29 04:01] Synex-wh commented on #26
meta 节点之间通过raft协议保证一致性，多个节点节点注册ip数据一致。半数以上节点宕机无法选举无法保证高可用，比如3台机器1台宕机仍然保证数据一致高可用，但是如果2台宕机剩余一台，数据无法保证其他节点复制，剩余一台只能保证基本功能无法保证数据一致，所有meta宕机其他session和data节点变化无法感知，单不影响影响服务注册、订阅。

5.2.0版本存在一个meta宕机会影响整个集群的一个bug，详见 #24，已经修正后续5.2.1发布

[2019-05-29 05:37] goofyan commented on #26
5.2.1预计什么时候发布？

[2019-05-29 08:32] atellwu opened #27 "Wrong HttpCode of HealthResource"
### Describe the bug

The HTTP code that HealthResource returns when it is healthy must be 200, otherwise 500 should be returned.

[2019-05-29 08:54] atellwu opened #28 "upgrade jraft from 1.2.4 to 1.2.5"
### Describe the bug

upgrade jraft from 1.2.4 to 1.2.5

[2019-05-29 09:43] atellwu opened #29 "Add monitoring logs"
### Describe the bug
Add monitoring logs

[2019-05-29 10:40] atellwu opened #30 "During meta startup, leader may not register itself"
### Describe the bug
- During meta startup, leader may not register itself
  - In the startProcess of setLeaderProcessListener, if sendNotify throw an exception, then registerCurrentNode() will not execute. This will result in incomplete metaLists for data and session, lack of leader ip, and subsequent data will fail to start.

[2019-05-29 10:48] atellwu opened #31 "Sometimes receive "Not leader" response from leader in OnStartingFollowing()"
### Describe the bug
![image](https://user-images.githubusercontent.com/2427749/58551413-84dc6700-8242-11e9-9868-ba2d5d6323b8.png)

- Problem:
  - OnStartingFollowing(): When you add Node to leader, you receive a response from leader that returns "Not leader" (our own implementation).
- Reason
  - In the internal process of jraft, node becomes leader - > sends leader heartbeat to all nodes - > oth

[2019-05-30 04:54] goofyan opened #32 "IO压力及日志文件咨询"
测试环境3meta 3data 2session，5.2.0开源版本
200个tps注册200w提供方，data节点iops高达12000。这是否是写日志文件导致的？
日志目录下该天cache-digest.log为700多M，这是否是必须记的？有什么作用？
另外，请问，按生产运维经验，其他日志文件有哪些是必须记的，有哪些是可以提高日志级别不记或少记的？

[2019-05-31 04:07] Synex-wh commented on #32
dataServer这里的日志之前版本确实规划的不好，这个我们后续版本还在进行拆分。cache-digest.log这个实际上是定时把所有内存数据进行摘要dump，这个量确实比较大，但是会反映那一时刻内存数据的情况。后面我们考虑进行简化这个输出，体现在流水数据输出这个就不定期执行

[2019-06-03 02:59] opjkjava opened #33 "本文件注册中心"
### Your question
说明文档中有一段话，“本地文件注册中心一般用于测试” ，
是本地文件注册中心有性能问题么？

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-06-03 08:34] atellwu commented on #33
您好，是在哪份文档里看到的？ 麻烦链接贴出来一下？

[2019-06-03 08:38] atellwu commented on #32
PS: 如有需要，您可以修改cache-digest.log的打印频率（默认是30s打印一次内存数据）。具体见这个类：com.alipay.sofa.registry.server.data.cache.CacheDigestTask

[2019-06-06 04:53] goofyan opened #34 "千万pub+sub部署咨询"
咨询下，如果生产上需支持千万级别的pub+sub，以各500w为例，meta/session/data节点建议如何部署：是否需要部署多个区域？各个节点分别需要几台？服务器配置推荐什么规格？

[2019-06-25 10:19] WangShuangQuan-A opened #35 "注册中心启动失败,leadr选举地址为docker网卡地址，localhost:9622 health check failed."
使用默认配置文件，DefualtDataCenter:本机地址
启动报错，leader选举地址为docker网卡对应地址

### Your scenes
错误信息如下
registry-raft.log

[2019-06-25 16:55:50,489][WARN][main][LocalSnapshotStorage] - No data for snapshot reader /home/wsq/Applications/SOFA/sofa-registry-integration/raftData/snapshot
[2019-06-25 16:55:50,637][INFO][main][NodeImpl] - Node <RegistryGroup_DefaultDataCenter/172.17.0.1:9614> init, term: 0, lastLogId: Log

[2019-06-27 12:44] Synex-wh commented on #35
注册中心启动需要配置当前meta节点的ip（即是application.properties文件里配置的“DefualtDataCenter:localhost”，机房名称:metaip），如果按照默认配置为localhost，这个时候对应ip不确定是那个网卡的ip，上述描述获取了docker0这个网卡的ip。当前环境有多个网卡，但是配置中心本身获取当前机器ip的逻辑是：不指定网卡就获取第一个网卡的ip作为当前机器ip，导致localhost对应的ip和注册中心获取的当前机器ip未必一致

同样如果不使用设置localhost，通过明确修改ip设置比如DefualtDataCenter:192.168.155.60，这个样还是无法保证192.168.155.60这个ip就是注册中心内部获取的网卡对应ip

这些不一致一定会导致meta启动会有问题，因为内部获取的当前机器ip和配置的不符，导

[2019-06-28 01:19] WangShuangQuan-A commented on #35
蟹蟹

[2019-06-28 03:26] Synex-wh opened #36 "After the client sends a sub successfully, it is not guaranteed to subscribe to the data."
### Describe the bug

![image](https://user-images.githubusercontent.com/8018119/60314930-11d82480-9997-11e9-9264-b9a98b8dcf38.png)
- current:
  - When the session receives the sub, it will pull data from the memory cache or access data, and then push it to the client. There is a problem: If this process fails (retry 3 times), it will cause the client data to be missing. Even if the session has th

[2019-06-28 03:40] Synex-wh opened #37 "Client fast chain breakage data can not be cleaned up"
### Describe the bug

The client fast chain break does not trigger the clientoff operation to delete data, causing garbage data to exist and push the client.

### analysis
- The query corresponds to ip and port does have a broken link record. Note that this link and broken link are triggered in unified seconds, which is a flash situation.

![image](https://user-images.githubusercontent.com/8018119

[2019-07-04 04:04] Synex-wh opened #38 "add sofa hessian blacklist"
### Describe the bug

For security reasons, hessian needs to configure the blacklist file to take effect.
And add jvm parameter for list to take effect

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-07-25 07:51] jimchou800 opened #39 "引用了错误的jetty版本10.0.0-alpha0"
### Describe the bug
clone源码后，执行
[code]
### Expected behavior
 编译成功

### Actual behavior
报错:
[code]
### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)
[code]
[code]
[code]
可能原因是Mavenc中央仓库中的jetty最新版本是 10.0.0-alpha0 用是是jdk11编译的 发布时间是:2019-07-13

### Environment

- SOFARegistry version: master and v5.2.0
- JVM version (e.g. `java -version`): 1.8.0_171
- OS versio

[2019-07-25 07:57] jimchou800 commented on #39
[code]
改成
[code]
编译通过

[2019-07-25 15:10] Synex-wh commented on #39
是的，这个区间引用是前几天jetty更新了10.0.0-alpha0 后，我们闭区间没有填写值引起的，这个我们后续fix了已经，建议你也改为<jetty.version>[9.4.17.v20190418,9.4.19.v20190610]</jetty.version>

[2019-07-26 01:53] #39 closed

[2019-08-01 12:38] #19 closed

[2019-08-21 08:04] wei7202839 opened #44 "client与session之间有长轮询推拉结合机制吗"
如题，如果没有做推拉结合的话，至少心跳要有吧
如果client断电了，session节点是发现不了的

[2019-09-11 02:40] liyork opened #46 "TaskQueue.cleanCompletedTasks has redundant code"
### Your question

TaskQueue.cleanCompletedTasks method return vod
so the ```taskMap.size()``` is redundant

### Your scenes

in master brance

### Your advice

delete this one or other reason?

### Environment

- SOFARegistry version: master
- JVM version (e.g. `java -version`): jdk1.8
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-09-11 06:21] liyork opened #47 "PublisherRegistration dosen't overwrite hashcode and equals"
### Your question

PublisherRegistration dosen't overwrite hashcode and equals.
In DefaultRegistryClient.register using the registrationPublisherMap judge whether
registration has registered, but this is not available.
This is in my opinion.

### Your scenes

see source code find this question.

### Your advice

Implement the hashCode and equals

### Environment

- SOFARegistry version:
- JVM vers

[2019-09-11 09:00] imsunv opened #48 "About RenewDecorate lastUpdateTimestamp"
### Describe the bug

RenewDecorate 的lastUpdateTimestamp属性定义不够明确

[code]

如果按isExpired 的实现，lastUpdateTimestamp 应该表示上次reNew 的时间，则reNew的实现应该为
[code]
不知道是我理解有误还是这个设计别有用意？

[2019-09-11 09:05] imsunv commented on #48
another question is why addNode will invoke ` reNew(dataNode, 30);`

[2019-09-16 11:26] fan2008shuai opened #49 "TaskDispatcher"
- 为什么使用“任务分发模型”？虽然它实现了流量塑形、任务过期、任务去重等功能，但Eureka的这种“生产者消费者模型”感觉实现有些复杂。用简单的生产者消费者模型好像也能实现这种功能。为什么要使用三个队列：acceptorQueue/reprocessQueue, pendingTasks, itemWorkQueue？真的有必要吗？
- client在发现session server的时候需要先传一个session server的hostPort？需要物理机部署多个session server（如果是一个session server的话，有单点的风险）？现在在进行docker化，蚂蚁怎么部署的？如果是用物理机的话，一个session server物理机硬件宕机，还需要新启动的服务使用刚宕机的IP或者记得修改DNS？难道LVS或HaProxy？
辛苦解惑一下。谢谢！

[2019-09-19 03:14] Synex-wh commented on #49
不好意思，回复的晚了
1、对于使用task模型我们当时考虑到在session一侧是所有地址变更的推送主体，这些推送和一些过程执行需要异步化和统一的重试机制，所以考虑大任务模型，我们目前任务模型确实模仿了Eureka的实现，只是增加了重试和一些任务过期判断。统一使用这个模型的好处是可以确定固定活跃线程数量进行某一类任务处理，可以统一进行任务队列执行情况监控，当时还考虑到我们可能存在批量任务执行的可能这个模型是支持批次执行固定数量任务（目前没有用到），同时统一的任务模型对外是一致编程方式比较好扩展和添加新的任务类型。至于你说的生产消费模式当然就是这套任务模型的基本原理，当然直接使用线程池来处理也是可以的
2、client发现session的方式是通过固定的9603端口随便访问一台session机器就可以，我们内部这个随便一台session机器是采用域名映射一台的，具体目前配置的dns服务，在通

[2019-09-19 03:45] fan2008shuai commented on #49
没关系，你们也很忙，理解
- 嗯，这种任务模型实现了重试、过期、去重、塑形、队列监控等功能，而且扩展性强。也许使用线程池实现一套出来，经过优化、重构代码之后，可能会演进成这种样子。
- DNS服务的域名指向session集群的一台具体的物理机IP？在注册中心初始化的过程中，这个物理机承担的所有client的流量？如果这个物理机挂了怎么办？新的client启动的时候无法获取到session列表，单纯依靠client的重试机制，等待DNS域名指向其他的session物理机IP？内部DNS域名指向会自动检测所指向的IP机器是否存活，然后切换到备用IP机器，而不是手动？session服务是纯物理机部署吗？还是IP固定的类似于docker的虚拟化产品？

[2019-09-19 04:07] Synex-wh commented on #44
SOFARegistry不同于Eureka只负责服务发现，对于地址变更不主动推送客户端，通过客户端主动获取方式，对于客户端进行心跳检测租约方式获取状态。

我们目前client是session长连接机制，对于client断链后会触发服务端断链事件，这个事件就会触发对应的服务提供方下线通知告诉所有订阅方，这个过程是服务端主动决定和推送客户端感知的，不存在发现不了

[2019-09-19 04:10] Synex-wh commented on #46
This is really redundant code, we will fix it in the next version.

[2019-09-19 04:15] fan2008shuai commented on #49
- 还有一个问题。注册中心在公司内部是同一套集群吗？比如除了sofa-rpc需要注册之外，其他业务也有注册发现的需求，那么这个业务的注册中心会跟sofa-rpc共用一套注册中心吗？

[2019-09-19 04:34] wei7202839 commented on #44
一开始在sofa-registry项目内没看到心跳机制
后来发现心跳机制应该在bolt底层实现了，有心跳确实是OK的

[2019-09-19 06:07] Synex-wh opened #50 "Push task to confirm thread blocking problem"
### Describe the bug
- In the case of a large amount of pressure data, there is a large number of rejection errors for the pushconfirm push confirmation thread pool.

- After each sub is pushed, the version is updated one by one to ensure that the push is successful one by one. This process requires each push task to complete the status update. The original method uses the blocking queue acquisiti

[2019-09-19 06:09] Synex-wh opened #51 "Publish new task asynchronously, configure independent thread pool current limit"
### Describe the bug

- Since the renew function requires that the pub addition is not successful after the dataserver is synchronized, the synchronization process is asynchronous, and the original data access queue pool AccessorExecutor is disabled.
- For the case where the client playback traffic is huge, the new post task must be configured with independent threads for current limiting.

### Mo

[2019-09-19 06:12] Synex-wh opened #52 "Dataserver expansion or node change causes data migration process to increase memory"
### Describe the bug
- All nodes on the dataserver are pressured to measure the maximum amount of storage. After the data is expanded, the new node immediately finds frequent fgc.
- On the remaining machines after the same amount of data has been relocated, there are no more fgc occurrences than the new node.

### Analytical solution

- dump memory to see the new node's string type object is signi

[2019-09-19 06:19] Synex-wh opened #53 "Dataserver expansion data synchronization process is affected by cleanup tasks"
### Describe the bug

- The test process finds that if the regular cleaning task is set frequently, the expansion startup data may be cleaned up by the cleanup task. For example, the d1 d2 d3 node expands the d4 node because the final list of meta notifications to each node has a sequence, if d4 is at the end The notification is 4 nodes. If there are other nodes synchronizing the data before, the

[2019-09-19 06:34] Synex-wh opened #54 "Dataserver reaches working state but data is not synchronized"
### Describe the bug

- Expanding new data nodes to achieve working state but the data is not fully synchronized, resulting in new node data holdings not meeting expectations

### Analytical solution

- The data synchronization of the new expansion node depends on the notification of other nodes. After receiving the notification, it starts to pull the corresponding version data, and knows that the

[2019-09-19 06:37] Synex-wh opened #55 "More data nodes cannot reach the working state problem"
### Describe the bug

- The performance test process found that about 40 machines were started at the same time, and there would be no working problems.
- And the problem continues to be unable to reach working

### Analytical solution

- Most machines that have not reached the working state are waiting for the same machine to send status, because both initialization machines have no data, and all

[2019-09-19 06:39] Synex-wh opened #56 "Datum version number is generated when writing to memory"
### Describe the bug

- The version number of datum indicates that a datainfoid data is changed in a dataCenter record, because the previous version number directly uses the timestamp to be repeated in the case of concurrency, and a unique id is used instead of the timestamp in a timestamp related manner.

- The datum version was originally generated when the pub was entered or the clientoff gener

[2019-09-19 08:40] Synex-wh commented on #49
1、DNS服务的域名是指session所有容器也好虚机也好，前面有一个dns服务器映射这些ip对应的域名，比如“xxx.alipay.registry.net”这样，客户端首次链接通过http://xxx.alipay.registry.net访问，随机获取到一个session，session上的集群内其他session地址是通过meta定期获取并推送到session上的，这样地址列表是准确并且最新的。session不一定是物理机，我们云上都部署的是docker容器ip确实是浮动的，但是只要启动就会去meta注册具体ip，并且分发给每个session

2、注册中心目前我们不只一套集群，按照不同域有所划分，不过都主要是提供rpc服务注册发现的，你说的其他注册发现需求不知道是指啥，如果是配置相关不在注册中心是在配置中心

[2019-09-20 02:53] fan2008shuai commented on #49
-  如果session部署在docker容器（IP浮动），session上下线之后，上线之后的IP列表与上线前的IP列表不一样了，还要更新DNS（手动或自动）以保证域名指向是对的？
- 比如手机端push这种与服务器直连的场景，手机端通过API层动态感知服务器列表，这种非RPC提供的一些服务，也需要注册发现的机制。

[2019-09-23 06:46] atellwu opened #57 "Improving consistency between SessionServer and DataServer"
### The background
The reasons for the inconsistency between SessionServerServer and DataServer：
  - SessionServer sending clientOff is not absolutely reliable
  - SessionServer disconnection DataServer over 30 seconds triggers SessionServer Off, causing DataServer to be erased incorrectly
  - DataServer outage may cause datum loss in memory queues
  - DataServer outage exceeds N (N is the number

[2019-09-23 07:20] atellwu opened #58 "SessionCacheService: should throw exception when failed to fetch datum"
### Describe the bug

When datum acquisition fails, no exception is thrown, which eventually causes SessionServer to push empty data to Client, and the datum is not queried when SessionServer polls Data Server regularly.

### Expected behavior

If datum acquisition fails, should throw exception, and invoke `sessionInterests.checkAndUpdateInterestVersionZero()`, so that the datum will fetch again w

[2019-09-26 03:12] Synex-wh opened #61 "Support blacklist function"
### Demand

- pub data is invalid
    - The data of all new pubs of the client corresponding to the ip is invalidated, that is, the pub content is not pushed to the subscriber. This process ensures that the new pub request client does not report an error and avoids repeatedly sending the pub.
    - Clean up the data that has been published by the corresponding ip client, and call the clientoff int

[2019-10-10 09:53] QiAnXinCodeSafe opened #63 "Context-inconsistent null check"
### Describe the bug
不一致的null检查
https://github.com/sofastack/sofa-registry/blob/ae8d21627c36717823ca6b27ddb6d07ef574c87e/server/server/session/src/main/java/com/alipay/sofa/registry/server/session/scheduler/task/DataChangeFetchTask.java#L308-L313
在308行处使用 datum没有做null检查,
在313行处使用 datum又做了null检查,
同时308行和313行之间的代码没有对datum进行赋值,
这样导致逻辑冲突，漏掉或者多余一处null检查,
同样的问题存在于文件https://github.com/sofastack/sofa-regi

[2019-10-22 04:38] dong-gy opened #65 "官网demo下载下来后运行异常问题"
demo地址：https://github.com/sofastack-guides/kc-sofastack-demo.git
从官网上下载下来的demo项目，根据官网指南教程操作，我使用的是本地的部署的SOFARegistry注册中心，但是项目跑起来后就会出现如下情况，尝试过增加和删除service.unique.id=user99，都没有作用，现在不知道是哪里的问题了！
![image](https://user-images.githubusercontent.com/48462501/67259514-d2df5900-f4c8-11e9-9ffe-c09b48c2366b.png)
![image](https://user-images.githubusercontent.com/48462501/67259433-65cbc380-f4c8-11e9-8acf-9bbff2

[2019-10-24 15:25] simplechen opened #66 "元数据相关"
### 注册中心获取当前发布的服务的元数据

请问：咱们的注册中心是否有考虑对外提供查询中心所有发布服务的详细原数据，比如
1.　服务名
2.　服务版本号
3.　服务方法名、入参、出参

多谢

[2019-11-15 08:09] straybirdzls opened #68 "Code mistake on `com.alipay.sofa.registry.server.meta.executor.ExecutorManager#stopScheduler`"
As following:

[code]

`checkNodeListChangePushExecutor` and `raftClientRefreshExecutor` don not shutdown as expected.

[2019-11-15 08:32] straybirdzls opened #69 "`com.alipay.sofa.registry.server.data.resource.DataDigestResource#getDataServerList` should not exclude current data node"
As follwoing

[code]
There is not need to exclude current data node.

[2019-11-15 08:58] straybirdzls opened #70 "When session update node list，the version is not compared"
As following,  in `com.alipay.sofa.registry.server.session.node.AbstractNodeManager` , when update nodes, the version is not compared, but directly use `putIfAbsent`

[code]

[2019-11-27 04:03] Synex-wh opened #71 "metaServer memory leak in versions before jdk1.8 8u152"
### Describe the bug

The RES value of the memory will gradually exceed 90% of the usage of the metaServer for a long time, and it will not decrease back to the normal level. The original recommended configuration of the 4g machine in the memory may be oom kill soon

### Analysis
- Because the memory of the jvm itself is set to a maximum of about 2g, if the 4g machine has a RES of about 3.5g, it c

[2019-11-27 04:15] Synex-wh opened #72 "Push confirmation version number logic optimization"
### Describe

Push confirmation currently generates multiple push tasks, and finally counts the number of successful tasks. At present, the logic is to check whether all tasks are completed according to the time 10s. If it is not completed, do not confirm and do not update the version number, otherwise update the version number to indicate that all pushes are successful. , The version number is up

[2019-11-27 10:26] Synex-wh opened #73 "meta dataList version currentTimeMillis product must from source"
### Describe the bug

- The version number of the dataServer list information recorded by metaServer is generated by the timestamp. Each time a new node is added, the list is changed. The timestamp at the time of the new node is used as the version number. At present, multiple meta nodes are required to copy this version number , Now the code version number is generated inside the execution logic

[2019-11-27 10:32] Synex-wh opened #74 "client registerId must be associated with connectId"
### Describe the bug

The registerId determines the uniqueness of the current pub and sub data. This must be strongly related to the client connection. After the client reconnects to other sessions, the ip + port changes. The previous data needs to be cleaned up according to the ip + port dimension. If the registerId is unchanged, If the cleaning process is relatively late, there is a certain chan

[2019-11-28 15:15] atellwu opened #75 "performance optimization of high concurrency"
### In the case of high concurrency, many errors are reported, mainly performance related

![image](https://user-images.githubusercontent.com/2427749/69816599-adfea400-1233-11ea-87b3-363db1d6f522.png)

![image](https://user-images.githubusercontent.com/2427749/69817111-cde29780-1234-11ea-9b56-06de561dcbb1.png)

「invokewithcallback」 is for:  check connection failed for address: origin URL [x.x.x.x:

[2019-11-29 07:11] atellwu commented on #73
LGTM

[2019-12-17 10:49] fan2008shuai opened #77 "注册中心上报数据"
您好，sofa-registry会实现上报数据的功能吗？比如上报实例的连接数、错误数、超时数等数据方便客户端用来做负载均衡。例如，客户端根据实例当前的连接数、错误数、超时数等数据从地址列表中选择一个实例。
- 这种需求适合注册中心实现吗？
- 如果注册中心不适合，应该怎么设计实现这类需求？
期待您的回复。辛苦，谢谢！

[2020-02-18 13:05] atellwu opened #89 "wrong version in fetchtask"
In DataChangeFetchTask, 「the actual version （datum.version）」 should be used to record but not changeRequest.version

[2020-02-18 13:17] atellwu opened #90 "fix Memory Leak of MethodHandle"
fix Memory Leak of MethodHandle, which is a  bug of jdk8: https://bugs.openjdk.java.net/browse/JDK-8152271

[2020-02-19 10:15] HuangSheng opened #91 "SOFARegistry客户端连接负载均衡问题"
### Your question

我想问个SOFARegistry连接的问题，registry的客户端应该是与服务端的session服务建立长连接，但是如果session服务集群中某台机器挂了，那么客户端的连接会漂到其它正常的机器上，如果这时这台挂掉的session服务又好了，这时如果客户端没有重启，是不是这台挂掉重启的机器就没有连接了？我看代码好像只有在连接不可用时客户端才会做重连
![image](https://user-images.githubusercontent.com/2976373/74824632-6c1d5f80-5343-11ea-9a5d-02898e5749d9.png)

### Your scenes

SOFARegistry集群部署，session节点由于突发事件导致挂掉或session升级版本重启服务

### Your advice

客户度是否

[2020-02-20 10:35] atellwu commented on #91
是的，的确是这样，目前client只有在断链后才有机会尝试重新连新sessionServer

[2020-02-20 10:54] HuangSheng commented on #91
那这样的话如果session服务需要升级版本，就一定会出现升级完成后的最后一台重启的session服务上没有client，而其他session服务上连接非常多的情况。这种策略我感觉不是很OK，因为线上我们会保证单台session机器的资源利用率在50%左右，但是因为session升级版本而导致线上某几台session机器的资源利用率飙升并且无法在升级完成后回归均衡。这块儿是否可以作为优化点优化一下呢？

[2020-02-20 11:33] straybirdzls commented on #91
@HuangSheng 的确是非常好的建议，在实际环境中也会遇到类似的问题，我们也在考虑尝试做一些优化，比如在服务端做一些保护的阈值，但这个也只是防止出现机器无法承载的情况，如果想到完全回归到均衡的状态，这个就必须有协商机制了。不知道你这里是否有什么建议？另外你们是在实际场景中遇到这个问题了吗？

[2020-02-21 02:13] HuangSheng commented on #91
client端我看到有一个线程是异步读取session地址列表的，可以考虑在读取后判断与当前服务存储的列表是否相同，不相同则触发一次重连。重连的时候可以加一个随机等待时间，防止所有客户端同一时间全部重连服务端而造成的压力。
![image](https://user-images.githubusercontent.com/2976373/74997970-697d5000-5492-11ea-82b9-f05f9f88ec21.png)
这个问题是我在实际场景中遇到了，因为我在测试环境会经常重启session服务，结果发现我们的session服务连接严重不均衡，后来查看源码发现的这个问题

[2020-02-28 09:53] atellwu commented on #91
「可以考虑在读取后判断与当前服务存储的列表是否相同，不相同则触发一次重连」

因为SOFARegistry的数据是和连接绑定的，如果这么做的话，在生产环境，代价会很高，相当于全站的数据都销毁又重新pub上来。

[2020-02-28 09:59] HuangSheng commented on #91
我没太细看数据存储和连接这块儿的代码。

所以如果session服务重启的话，理论上SOFARegistry的数据也会重洗一遍是吗？

如果是这样的话，用我的方法，等于全站数据重洗了两遍？不知道我这样理解是否正确？

[2020-02-28 15:41] atellwu commented on #91
「所以如果session服务重启的话，理论上SOFARegistry的数据也会重洗一遍是吗？」
是的。

[2020-03-05 09:05] dagou opened #95 "Register jaxrs service error 帮忙看看这个问题"
ERROR main                             com.alipay.sofa.rpc.server.rest.RestServer - Register jaxrs service error
java.lang.RuntimeException: Class is not a root resource.  It, or one of its interfaces must be annotated with @Path:
这个问题如何解决

[2020-03-07 12:42] FoamValue opened #96 "javax.ws.rs.InternalServerErrorException: HTTP 500 Internal Server Error"
### Describe the bug

A clear and concise description of what the bug is.

按照[官网步骤](https://www.sofastack.tech/projects/sofa-registry/server-quick-start/)，本地运行的时候，出现了错误日志。

`[2020-03-07 20:25:25,644][INFO][main][MetaServerBootstrap] - Open session node register server port 9610 success!
[2020-03-07 20:25:25,648][INFO][main][MetaServerBootstrap] - Open data node register server port 9611 success!
[

[2020-03-07 13:19] straybirdzls commented on #96
这个报错没有影响。启动 data 之后，刚开始健康检查没有通过，因为此时 data 的状态是 INITIAL 状态 ，故而此时健康检查会返回 500(参考 `com.alipay.sofa.registry.server.data.resource.HealthResource#checkHealth`) ，在 `com.alipay.sofa.registry.server.integration.RegistryApplication` 的 `com.alipay.sofa.registry.server.integration.RegistryApplication#waitClusterStart`  中会轮询等待健康检查的状态，直至成功，从你上上面的日志来看，前两次失败了，第三次成功了，此时 data 的状态才是 WORKING 状态(参考 `com.alipay.sofa.re

[2020-03-07 13:21] straybirdzls commented on #95
你好，请提供下更加详细的信息，包括复现步骤、环境等，另外这个问题看起来是 sofa-rpc 相关的？

[2020-03-07 13:28] FoamValue commented on #96
:) 只想到了一个粗暴的思路，设置阀值对外抛ERROR。

[2020-03-07 13:28] #96 closed

[2020-03-10 05:52] dagou commented on #95
sofa-rpc的&nbsp; 我之前用的是企业版 现在打算用开源版搭一个灾备环境&nbsp; 用的是 sofa-registry&nbsp; &nbsp;启动的时候 在rpc日志中 报这个错！

------------------&nbsp;Original&nbsp;------------------
From: "straybird"<notifications@github.com&gt;;
Date: 2020年3月7日(星期六) 晚上9:21
To: "sofastack/sofa-registry"<sofa-registry@noreply.github.com&gt;;
Cc: "朱正伟"<tourist_chu@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
Subject: Re: [sofastack/so

[2020-03-10 09:02] dagou opened #97 "推送到客户端 的 usable target addresses 一会是0 一会又是1 。这个是什么原因？"
附上日志

2020-03-10 17:17:14,481 INFO  ObserverNotifyThread-2-thread-2  com.alipay.sofa.rpc.registry.sofa.SofaRegistrySubscribeCallback - RPC-00204: Receive RPC service addresses: service[com.csii.authservice.interfaces.apis.IdentityVerifyService:1.0@DEFAULT]
  usable target addresses[1]
  --- DEFAULT_ZONE

2020-03-10 17:17:14,482 INFO  ObserverNotifyThread-2-thread-2  com.alipay.sofa.rpc.registry.so

[2020-03-10 09:03] #95 closed

[2020-03-11 02:09] dagou commented on #97
这个是sofa-registry日志， datapush 一会有 一会又是空。。帮忙看看

[2020-03-11 10:45:04,996][INFO][Bolt-default-executor-4-thread-13][SESSION-PUSH] - [Receive] Push ReceivedData success! dataId:com.csii.publicservice.interfaces.apis.CommonInfoQryService:1.0@DEFAULT,group:SOFA,Instance:DEFAULT_INSTANCE_ID,version:1232820797046784,url: URL{address='10.132.38.126:60706'},dataPush:[]
[2020-03-11 10:45:04,999][INFO][Bolt-d

[2020-03-16 13:57] maodou38 commented on #35
能告知一下registry的默认注册端口是哪个嘛，我执行sofa的官方demo一直不成功

[2020-03-17 05:45] khotyn commented on #35
@maodou38 默认端口 9603，这里有写：https://www.sofastack.tech/projects/sofa-rpc/registry-sofa/

[2020-03-17 05:55] maodou38 commented on #35
@khotyn  我的9063也无法注册成功 ，已经解决了网卡选择问题，ip获取没什么问题，但是sofastack的demo执行就是找不到推送

[2020-03-17 06:44] khotyn commented on #35
@maodou38 你有修改过 Demo 的代码吗？可以把日志打个包放上来看下。

[2020-03-17 06:55] maodou38 commented on #35
common-error.log中的报错信息：  只是改了下start.sh中加了个选择网卡
[2020-03-17 06:43:18,191][ERROR][DataNodeChangePushTaskDataDispatcher-0][DataNodeServiceImpl] - Push dataNode list error! No data node registered!
[2020-03-17 06:43:18,194][ERROR][DataNodeChangePushTaskDataDispatcher-0][DataNodeSingleTaskProcessor] - [Task] Data node SingleTask Process error!
java.lang.RuntimeException: Push dataNode list error! No da

[2020-03-17 06:58] maodou38 commented on #35
@khotyn  registry-startup中各项启动都正常  9622端口的health check也是正常的，怎么到了common-error中9622也不正常了

[2020-03-17 06:43:15,153][INFO][main][MetaServerBootstrap] - the configuration items are as follows: com.alipay.sofa.registry.server.meta.bootstrap.MetaServerConfigBean@74235045[
  sessionServerPort=9610
  dataServerPort=9611
  metaServerPort=9612
  httpServerPort=9615
  schedulerHeartbeatTimeout=3
  schedulerH

[2020-03-17 07:00] maodou38 commented on #35
@khotyn 41122端口哪来的，我netstat发现并没有打开

[2020-03-17 07:34] maodou38 commented on #35
按照https://www.sofastack.tech/guides/sofastack-quick-start/#%E6%9B%B4%E5%A4%9A这个demo做的。
安装了openzipkin/zipkin  xzchaoo/lookout-allinone:1.6.0-SNAPSHOT elasticsearch:5.6 三个docker容器 加上registry-integration。启动就是炸裂。

[2020-03-17 10:40] maodou38 commented on #35
@khotyn 劳烦了，我看了一下午日志，自己解决了。但是还是要吐槽下，那个sofastack-demo是真的粗制滥造啊，里面都还有些错。而且本机作为注册中心，都一直会出现500找不到RPC对象。google云200ms直接没办法玩，这registry不是很稳定啊

[2020-03-17 10:50] khotyn commented on #35
@maodou38 我们再看下 Demo，看下优化一下，多谢多谢~~~

[2020-03-17 10:58] maodou38 commented on #35
你们内部有这个sofa-registry的那种监控工具嘛，类似zookeeper的那个。我现在很好奇为什么我的registry一会好一会坏了。SOFALookout和ZipKin都部署在台湾google cloud上，时延大概200ms。拿不到RPC对象和这有关系嘛？

[2020-03-18 02:08] khotyn commented on #35
@maodou38 SOFALookout 和 Zipkin 跟服务发现没有关系，应该不是这个原因。

[2020-03-27 14:00] ivanljc2017 opened #99 "the sofa-registry package have some problems"
### Describe the bug
when i  executed "mvn clean package -DskipTests" in  window's dos,
the files distribution-session.xml,distribution-data.xml,distribution-meta.xml,distribution-integration.xml have  same problem.The "/" in linux is root directory , but in windows is not.
Like this:
        <file>
            <source>../../server/session/target/registry-server-session-executable.jar</source>

[2020-04-09 03:52] ivanljc2017 opened #101 "注册中心有问题？"
### Your question
朋友提供的sofa registry，直接启动的那种。
启动后有问题，使用RPC程序客户端调服务端时出现错误。
日志见后面。
请大虾帮忙看看。
[logs.zip](https://github.com/sofastack/sofa-registry/files/4453932/logs.zip)

[2020-04-09 06:50] ivanljc2017 commented on #101
Thanks

[2020-04-09 06:57] ivanljc2017 commented on #99
No one answer me.The ecophere is so poor!

[2020-04-09 07:24] ivanljc2017 commented on #101
add the question describe:
I excuted BalanceMngApplication and StockMngApplication.And  logined the  http://localhost:8080.The error occurs.
See the Stock-mng/logs  below.

[2020-04-09 07:27] ivanljc2017 commented on #101
stock-mng/logs
[stock-mng-logs.zip](https://github.com/sofastack/sofa-registry/files/4454646/stock-mng-logs.zip)

[2020-04-10 05:11] khotyn commented on #99
我们找个环境试一下看看。

[2020-04-12 13:03] khotyn commented on #99
It seems that this error does not prevent the package process and the package result in windows is correct.

Anyway, I create a PR #102 to fix this error.

[2020-04-12 13:34] khotyn commented on #101
直接启动的 SOFARegistry？具体是什么版本的？最好有版本的信息。

[2020-04-13 07:19] ivanljc2017 commented on #101
我打包一个上来好了，你帮忙看看有什么问题。
文件太大，上传不了，截个图吧，5.4.2版本的。
![版本](https://user-images.githubusercontent.com/26160057/79100944-2789cf80-7d9a-11ea-80fc-15da0c63482e.png)

[2020-04-13 07:33] ivanljc2017 commented on #101
@khotyn ,我说的直接启动是在bin目录下执行startup.bat执行。

[2020-04-13 07:47] slieer commented on #7
这个说法不准确。nacos支持配置管理和服务发现单jvm方式部署，或两者分开进行部署的。
我一直在用nacos。

[2020-04-13 07:58] khotyn commented on #101
@ivanljc2017 好的。

[2020-04-13 08:24] ivanljc2017 commented on #101
@khotyn ,启动的时候logs/common-error.log报错如下：
2020-04-08 14:31:10,600 ERROR [RpcHeartbeatTrigger$1#112] [Bolt-default-executor-4-thread-11] Heartbeat exception caught! Error code=CONNECTION_CLOSED, The address is 192.168.43.36:9610
2020-04-08 14:31:10,639 ERROR [RpcHeartbeatTrigger$2#142] [bolt-netty-client-worker-1-thread-4] Send heartbeat failed! Id=30477, to remoteAddr=192.168.43.36:9620
2020-04-08

[2020-04-14 01:45] wjn0918 opened #103 "RPC-02306: The calling address of the service [io.sofastack.balance.manage.facade.BalanceMngFacade: 1.0: user0] is not obtained, please check whether the service has been pushed"
如何查看服务已经注册到SOFTregistry

[2020-04-14 05:01] khotyn commented on #101
@ivanljc2017 问下你参考的是啥文档跑的 Demo？

[2020-04-14 07:22] ivanljc2017 commented on #101
参考的是这个：
https://www.sofastack.tech/guides/sofastack-quick-start/

[2020-04-14 12:07] tylorswift opened #104 "求助registry 启动报错"
### Your question

registry-integeration 集成部署启动后 common-error.log 报错 ，单三种health check 均显示正常

### 报错信息
[2020-04-14 18:15:50,507][ERROR][DataNodeChangePushTaskSessionDispatcher-7][SessionNodeServiceImpl] - Push sessionNode list error! No session node connected!
[2020-04-14 18:15:50,507][ERROR][DataNodeChangePushTaskDataDispatcher-1][DataNodeServiceImpl] - Push dataNode list error! No data node regis

[2020-04-16 09:35] YuGanRepo opened #105 "!! registry-integration start failed"
### Your question

!! registry-integration start failed，So that the RPC service request fails.

### Your scenes

![image](https://user-images.githubusercontent.com/27922304/79439984-10501980-8008-11ea-9052-7ddb0f5def41.png)

### Environment

- SOFARegistry version: 5.4.0 & 5.4.2
- JVM version (e.g. `java -version`): 1.8
- OS version (e.g. `uname -a`): Mac Os
- Maven version: 3.6

[2020-04-17 08:42] tylorswift commented on #105
I had recieved same question during started the registry-integeration  startup.bat  . 同病相怜

[2020-04-17 09:02] khotyn commented on #105
I'll check this problem later.

[2020-04-18 01:15] khotyn commented on #105
你是在什么目录下启动 sofa-registry 的？

[2020-04-18 01:17] khotyn commented on #104
Checking this problem on the way.

[2020-04-18 08:35] khotyn commented on #104
能否把日志目录下完整的日志给贴上来。

[2020-04-18 08:40] khotyn commented on #104
可以打个包放上来，另外启动过程中前几次 HealthCheck 是有可能失败的，因为在等待 Data 节点 Ready，过了几次应该就成功了才对。

[2020-04-18 09:20] khotyn commented on #103
可以通过访问一下的地址看到：

[code]

":1.0" 之前的为接口名，后面的在 SOFA RPC 的情况下是固定字符串。

[2020-04-18 09:20] #103 closed

[2020-04-18 09:23] khotyn commented on #105
可以把整个日志目录给放上来。

[2020-04-18 10:22] tylorswift commented on #104
[logs.zip](https://github.com/sofastack/sofa-registry/files/4496444/logs.zip) 启动过很多次，分别尝试过两台电脑，偶尔有一次能成功 但极少次，session节点应该是9603端口吧 也是启动的

[2020-04-18 10:51] khotyn commented on #104
看了下错误的日志，应该是不影响后面的使用，启动过程中有些节点没有 Ready，导致健康检查有问题，但是最终健康检查通过，启动成功了。

[2020-04-18 10:52] khotyn commented on #104
可以通过访问以下的地址看下服务是否注册上来了：

[code]

":1.0" 之前的为接口名，后面的在 SOFA RPC 的情况下是固定字符串。

[2020-04-18 12:34] tylorswift commented on #104
[spring.log](https://github.com/sofastack/sofa-registry/files/4496613/spring.log)
官网demo  BalanceMng 和 StockMng(web) 调用错误

[2020-04-18 13:27] khotyn commented on #104
@tylorswift 我跑下 Demo 看看。

[2020-04-18 14:17] khotyn commented on #104
@tylorswift 确认教程应该没有什么问题，你的 BalanceMngImpl 这个类上打上了下面的注解了吗？

[code]

[2020-04-18 14:32] khotyn commented on #104
另外，服务注册的日志里面发现了比较多这样的：

[code]

最好是 BalanceMngApplication 启动之后，从服务注册中心上 Query 看下对应的服务是否注册上去了。

[2020-04-19 02:19] tylorswift commented on #104
同一主机 BalanceMngFacade （找不到服务），StockMngFacade（找到服务）(web项目这个是本地调用吧)
![error](https://user-images.githubusercontent.com/16263536/79677765-30a9ef00-8227-11ea-8057-6ca31e22b540.png)

[2020-04-19 02:51] tylorswift commented on #104
极少数次能调用成功 ，且会报超时错误：Caused by: com.alipay.remoting.rpc.exception.InvokeTimeoutException: Rpc invocation timeout[responseCommand TIMEOUT]! the address is 192.168.43.251:22200，然后就是又是找不到Balance服务。是客户端故障剔除么  ？

[2020-04-19 03:03] tylorswift commented on #104
超时时间能改大点么？
![error](https://user-images.githubusercontent.com/16263536/79678364-5934e780-822d-11ea-8f97-7b8d105eb3b0.png)

[2020-04-19 12:37] khotyn commented on #104
我昨天看了你的日志，似乎 BalanceMngFacade 这个服务一会儿注册一会儿又取消了注册。BalanceMngFacade 所在的应用你是一直启动着的吧？

[2020-04-19 12:37] khotyn commented on #104
看 Pub 也是有数据的。

[2020-04-19 12:49] tylorswift commented on #104
一直启动的  ,其他人也遇到同样问题 应该是generally

[2020-04-19 12:52] khotyn commented on #104
@tylorswift 能否把你的代码做一遍 mvn clean，然后打个包上传上来，我直接用你的试一下，虽然都是用的官方 Demo，但是可能改动的地方不一样之类的，我看下能否在我本地重现。

[2020-04-19 13:07] tylorswift commented on #104
[kc-sofastack-demo-master.zip](https://github.com/sofastack/sofa-registry/files/4499081/kc-sofastack-demo-master.zip)   registry-integeration 是最新版的

[2020-04-19 15:07] khotyn commented on #104
@tylorswift 好吧，我试下 Windows 下的，一直用的 Mac

[2020-04-19 15:24] tylorswift commented on #104
@khotyn 方便的话可以 可以远程看一下  免得准备环境

[2020-04-24 09:46] tylorswift commented on #104
@khotyn 你好 有结果了么？

[2020-04-24 12:37] khotyn commented on #104
@tylorswift 周末我再看下哈

[2020-04-26 05:58] maocc opened #106 "is have a webui to show registerInfo"
### Your question

the sofa-registry is have a web ui to show the registered Info  with my instance ?
### Your scenes

### Your advice

### Environment

[2020-04-26 07:26] xingguangdage opened #107 "安装registry-integration.tgz 5.4.2 启动报错"
java与版本：
# java -version
java version "1.8.0_171"
Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)
# mvn -version
Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c07478323dc5; 2015-11-11T00:41:47+08:00)
Maven home: /data/apache-maven-3.3.9
Java version: 1.8.0_171, vendor: Oracle Corporation
Java home: /root/jdk1.8.0_171/jre
Defa

[2020-04-27 03:34] Synex-wh commented on #107
这个目前看是健康检查失败了，启动是否还有其他报错，可以把启动日志发出来完整看看，此外可以手工执行一下curl -i http://localhost:9615/health/check看看结果，这个是和上述健康检查效果一样的。

[2020-04-27 07:59] xingguangdage commented on #107
# curl -i http://localhost:9615/health/check
HTTP/1.1 500 Internal Server Error
Date: Mon, 27 Apr 2020 07:59:10 GMT
Content-Type: application/json
Transfer-Encoding: chunked
Server: Jetty(9.4.19.v20190610)

{"success":false,"message":"MetaServerBoot sessionRegisterServer:true, dataRegisterServerStart:true, otherMetaRegisterServerStart:true, httpServerStart:true, raftServerStart:true, raftClientSta

[2020-04-27 08:04] xingguangdage commented on #107
registry-raft.log
[2020-04-27 00:08:44,716][INFO][JRaft-ElectionTimer][NodeImpl] - Node <RegistryGroup_DefaultDataCenter/172.17.0.1:9614> term 0 start preVote.
[2020-04-27 00:08:44,716][WARN][JRaft-ElectionTimer][NodeImpl] - Node <RegistryGroup_DefaultDataCenter/172.17.0.1:9614> can't do preVote as it is not in conf <ConfigurationEntry [id=LogId [index=0, term=0], conf=178.56.23.11:9614, oldConf=]

[2020-04-27 08:09] xingguangdage commented on #107
common-error.log与registry-integration-std.out输出一样，就是我开始那段启动报错日志

[2020-04-27 08:21] xingguangdage commented on #107
registry-integration-std.out启动输出
Command: java  -Dregistry.integration.home=/data/registry-integration -Dspring.config.location=/data/registry-integration/conf/application.properties -Duser.home=/data/registry-integration -server -Xms512m -Xmx512m -Xmn256m -Xss256k -XX:+DisableExplicitGC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:/data/registry-integration/logs/registry-integration-gc.log

[2020-04-27 08:38] straybirdzls commented on #107
@xingguangdage 能否确认下 172.17.0.1 以及 178.56.23.11 是一个机器不同的网卡地址吗？

[2020-04-27 08:41] xingguangdage commented on #107
没有，178.56.23.11这个是我改了的

[2020-04-27 08:42] straybirdzls commented on #107
@xingguangdage 改了是什么意思？

[2020-04-27 08:42] xingguangdage commented on #107
# ifconfig -a
docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 172.17.0.1  netmask 255.255.0.0  broadcast 172.17.255.255
        ether 02:42:3b:22:14:f2  txqueuelen 0  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

eth0: f

[2020-04-27 08:43] xingguangdage commented on #107
我粘贴日志把172.27.255.41改成了178.56.23.11

[2020-04-27 08:45] straybirdzls commented on #107
@xingguangdage 看起来是因为在 docker 下跑带来的问题，我这边看下，估计需要添加什么参数

[2020-04-27 08:55] straybirdzls commented on #107
@xingguangdage 你目前希望绑定哪张网卡？看 `nodes.metaNode=DefaultDataCenter:178.56.23.11
` (对应到 172.27.255.41)你是想绑定 eth0 吧？那修改下 start.sh ，加个启动参数 `-Dnetwork_interface_binding=eth0`

[2020-04-27 09:05] xingguangdage commented on #107
这个参数怎么加？是这么加
是在startup.sh里这么加
java ${JAVA_OPTS} -jar ${APP_JAR} ${SPRINGBOOT_OPTS} -Dnetwork_interface_binding=eth0 >> "$STD_OUT" 2>&1 &
还是在上面配置上，两种方法我都试了，还是报错
Dnetwork_interface_binding

[2020-04-27 09:09] straybirdzls commented on #107
@xingguangdage 这么加：

![image](https://user-images.githubusercontent.com/7148759/80354805-d1dd1900-88a9-11ea-99fe-070569d2494f.png)

内容为： `+JAVA_OPTS="$JAVA_OPTS -Dnetwork_interface_binding=eth0 "`

[2020-04-27 09:15] xingguangdage commented on #107
报错
# sh startup.sh
startup.sh: line 43: +JAVA_OPTS= -Dregistry.integration.home=/data/registry-integration -Dspring.config.location=/data/registry-integration/conf/application.properties -Duser.home=/data/registry-integration -server -Xms512m -Xmx512m -Xmn256m -Xss256k -XX:+DisableExplicitGC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:/data/registry-integration/logs/registry-integration-gc.

[2020-04-27 09:47] straybirdzls commented on #107
@xingguangdage 检查下是不是多了空行，看启动参数不对，后面的 jar 都没有

[2020-04-27 11:49] xingguangdage commented on #107
是的，跟你写得一样了，eth0后面多了空格，改完还是报错

[2020-04-27 11:52] xingguangdage commented on #107
javax.ws.rs.InternalServerErrorException: HTTP 500 Internal Server Error
        at org.glassfish.jersey.client.JerseyInvocation.convertToException(JerseyInvocation.java:1098)
        at org.glassfish.jersey.client.JerseyInvocation.translate(JerseyInvocation.java:883)
        at org.glassfish.jersey.client.JerseyInvocation.lambda$invoke$1(JerseyInvocation.java:767)
        at org.glassfish.jersey.

[2020-04-29 06:52] #71 closed

[2020-04-29 07:31] straybirdzls opened #109 "Update hessian to 3.3.8"
Due to issue: https://github.com/sofastack/sofa-hessian/pull/46/files

[2020-04-29 07:37] straybirdzls opened #110 "Enhance session load balance"
1. Support control max connections on session
2. Support to set priority for session server, when client connect to session, will choose according to the priority

[2020-04-29 07:41] straybirdzls opened #111 "Support connectId equals on different sessions"
Currently, when connectId sessions, the renew maybe never stop because the snapshot send to data will recover each other and never stop

[2020-04-29 07:44] straybirdzls opened #112 "Enhance operation API"
Some operation api result is not structured, for example:

[code]

[2020-04-29 07:51] straybirdzls opened #113 "Enhance log print"
The following log in `com.alipay.sofa.registry.server.session.scheduler.task.DataChangeFetchCloudTask` print all push datums, maybe very huge.

[code]

[2020-04-30 07:36] atellwu commented on #107
你有钉钉吗？ 我加一下你吧，那样沟通及时一点

[2020-05-06 01:24] xingguangdage commented on #107
钉钉号：xingguangdage

[2020-05-08 08:20] #107 closed

[2020-05-18 06:46] #109 closed

[2020-05-18 09:34] atellwu opened #116 "PushSwitch is on, but rotation task will not run"
### Describe the bug
If "push without permission" is released directly, the rotation training task will not run, that is, the push logic is missing。

Begindatafetchtask initial value is false
![image](https://user-images.githubusercontent.com/2427749/82197569-c2437400-992d-11ea-9415-388caac8d761.png)

When session gets empty data from meta, the push status is considered as "on". In theory, beginda

[2020-05-20 08:43] straybirdzls opened #118 "Session disconnect delay support configurable"
Currently , Session disconnect delay is fixed as below:

[code]

[2020-05-29 01:53] #99 closed

[2020-05-29 11:11] atellwu opened #121 "fix sessionInterests.deleteByConnectId"
ClientOff may miss "delete connectId" when sub and pub have been pre-emptied (the client does unpub and unsub)
![image](https://user-images.githubusercontent.com/2427749/83253828-38729100-a1e0-11ea-8001-b628f7fd50bf.png)

[2020-07-02 12:37] AlberZ1989 opened #125 "Can the test server register through the public network?"
想把开发环境的注册中心部署在云端?
有办法吗?

[2020-07-02 12:39] AlberZ1989 commented on #125
Want to deploy the registration center of the development environment in the cloud? Is there a way?

[2020-07-10 01:46] xingguangdage opened #127 "软件启动报错"
在中标麒麟操作系统上启动软件报错如下
[2020-07-10 08:58:24,432][INFO][main][MetaServerBootstrap] - Open session node register server port 9610 success!
[2020-07-10 08:58:24,434][INFO][main][MetaServerBootstrap] - Open data node register server port 9611 success!
[2020-07-10 08:58:24,436][INFO][main][MetaServerBootstrap] - Open meta server port 9612 success!
[2020-07-10 08:58:25,345][INFO][main][MetaServerBootstrap]

[2020-07-11 16:07] dzdx commented on #127
@xingguangdage   看报错 （ architecture word width mismatch ） 像是jre的位宽和加载的rocksdbjni的so不一致
https://github.com/dzdx/rocksdbjni-test  你clone一下这个项目，在启动失败的机器上make一下试试，我看看输出

[2020-07-13 00:34] xingguangdage commented on #127
# make
mvn -q clean compile
[ERROR] Plugin org.apache.maven.plugins:maven-clean-plugin:2.5 or one of its dependencies could not be resolved: Failed to read artifact descriptor for org.apache.maven.plugins:maven-clean-plugin:jar:2.5: Could not transfer artifact org.apache.maven.plugins:maven-clean-plugin:pom:2.5 from/to central (https://repo.maven.apache.org/maven2): Connect to repo.maven.apache.or

[2020-07-13 06:03] dzdx commented on #127
[code]

5.18.3版本的rocksdbjni不支持aarch64架构，需要jraft依赖的rocksdbjni升级到5.18.4  https://github.com/facebook/rocksdb/pull/6497

[2020-08-10 12:14] kentchenjh opened #128 "Any http api fetch pub/sub detail (like IP)"
since sofa registry did not have dashboard, and I want to aggregate all pub/sub info together (just like eureka, every app and every instance in app, each instance has its own IP). It seems sofa registry do not provider these kinds of APIs, I only found getDataInfoIdList in session server which maybe helpful.

So is there any useful APIs to address this situation? Do I need to implement non-Java c

[2020-08-11 04:59] dzdx commented on #128
There is no aggregate interface yet, you can query publisher and Subscriber via the dataInfoId

- list dataInfoId in session node
   `$sessionIP:9603/digest/getDataInfoIdList`

example:
dataInfoId==`com.dzdx.test#@#DEFAULT_INSTANCE_ID#@#DEFAULT_GROUP`
urlencode($dataInfoId) ==`com.dzdx.test%23%40%23DEFAULT_INSTANCE_ID%23%40%23DEFAULT_GROUP`

- query publishers by dataInfoId in session node
   `$se

[2020-08-11 05:39] kentchenjh commented on #128
thanks for your reply, the apis in session server work for me.

[2020-08-12 02:33] fancyklaus opened #129 "registry-integrationv5.4.2集成部署失败"
### Describe the bug

按照指引https://www.sofastack.tech/projects/sofa-registry/server-quick-start/，
下载最新代码并打包部署后，健康检查报错，发现只有meta的端口正常启动，session和data的端口均未启动。
查看common-error的日志，报错如下
<img width="867" alt="image" src="https://user-images.githubusercontent.com/6880229/89968592-bfcf8c80-dc86-11ea-8052-4e27333a04cf.png">
### Expected behavior
预期三个健康检查都可以过
### Actual behavior
session和data的端口均不可达
### Steps to

[2020-08-12 05:21] dzdx commented on #129
手动访问一下localhost:9615/health/check 看看返回内容。common-error在这个health check的日志之前还有其他日志吗？

[2020-08-12 06:16] fancyklaus commented on #129
手动访问一下localhost:9615/health/check 看看返回内容。

common-error在这个health check的日志之前还有其他日志吗？

        at com.alipay.remoting.AbstractRemotingServer.start(AbstractRemotingServer.java:74)
        at com.alipay.sofa.registry.remoting.bolt.BoltServer.startServer(BoltServer.java:93)
        at com.alipay.sofa.registry.remoting.bolt.exchange.BoltExchange.open(BoltExchange.java:65)
        at com.alipay.sofa.regi

[2020-08-12 06:29] bjxiaojian commented on #129
Open session node register server port 9610 error!
java.lang.RuntimeException: Start bolt server error!
Caused by: java.net.BindException: Address already in use
-------------------------------------------------------------------
看起来是端口被占用了。查看一下本机的9610端口情况。

[2020-08-12 06:39] fancyklaus commented on #129
netstat -AaLlnW |grep 9610
f84edbe3322cd417        0 0/0/128        *.9610

[2020-08-12 06:42] fancyklaus commented on #129
lsof -i:9610
COMMAND   PID  USER   FD   TYPE             DEVICE SIZE/OFF NODE NAME
java    24302 emily   86u  IPv6 0xf84edbe3322cd417      0t0  TCP *:9610 (LISTEN)

[2020-08-12 10:48] fancyklaus commented on #129
[2020-08-12 18:15:40,517][ERROR][main][RegistryApplication] - localhost:9615 health check failed.
[2020-08-12 18:15:41,524][ERROR][main][RegistryApplication] - localhost:9615 health check failed.
javax.ws.rs.InternalServerErrorException: HTTP 500 Internal Server Error
	at org.glassfish.jersey.client.JerseyInvocation.convertToException(JerseyInvocation.java:1098)
	at org.glassfish.jersey.client.Jer

[2020-08-12 11:20] dzdx commented on #129
@fancyklaus
 ` Refresh leader failed,error=Fail to init channel to 192.168.43.254:9614`
之前是不是在本地启动过，可以尝试把 raftData的目录删除掉， 目录位置可以从启动时候打印的参数 raftDataPath 里看到。
重连wifi，局域网ip变化后，meta的raft节点列表就不一致了，所以连接不上，需要清理一下节点列表

[2020-08-13 07:48] 122093404 opened #130 "我想单独使用注册中心，可能的服务有java和python，支持python服务接口的注册吗"
### Your question

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2020-08-13 08:06] bjxiaojian commented on #130
registry注册中心是支持各个语言的服务发现和订阅的，目前开源版中只有java client。需要实现其他语言的服务发现和订阅，需要自己实现相关语言的registry client。

[2020-08-13 08:14] 122093404 commented on #130
sofa-bolt-python的服务发现与服务发布，不能注册到注册中心吗，这个仅是RPC调用吗

[2020-08-13 08:19] 122093404 opened #131 "sofa-bolt-python and sofa-registry"
### Your question
sofa-bolt-python也有服务发现和发布，它和sofa-registry的发现有什么不同吗

[2020-08-13 08:44] wanderxjtu commented on #131
sofa-bolt-python 只做了使用mosn的服务接口的客户端。
sofa-registry是服务端。

[2020-08-14 07:31] kentchenjh commented on #128
It seems publishers from session node contain confused port number, for example a publisher opens a dubbo protocol port as 20880, the publisher info from session would contain a fixed "random" port instead of 20880 which seems like useless. After I read source code in dubbo implement(https://github.com/apache/dubbo/blob/master/dubbo-registry/dubbo-registry-sofa/src/main/java/org/apache/dubbo/regis

[2020-08-14 08:33] bjxiaojian commented on #112
increment http api to query the connection on each session server.

[2020-08-14 09:03] bjxiaojian commented on #112
increment http api to operate pushSwitch:
http://sessionServer:9603/stoppush/true   close push data.
http://sessionServer:9603/stoppush/false   open push data.

[2020-08-19 04:34] dzdx opened #133 "Support for specifying a specific IP as the IP of the current node"
Support for specifying a specific IP as the IP of the current node where there are multiple IPs in the network card

[2020-08-31 14:06] bjxiaojian opened #139 "Log reduction and log split into hour"

[2020-08-31 14:17] bjxiaojian commented on #139
since registry-data.log，registry-session.log，registry-exchange.log, cache-digest.log print too much,  and currently log is split by day. The log file is too large and the server disk will be easily full up.

[2020-10-02 08:10] dayuange123 opened #142 "配置的registryEndpoint如果不可以用，是否会影响到session serverList的同步"
### Your question

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2020-10-28 02:41] GaryLeung922 commented on #35
@maodou38  Could you tell me how to solve it?

[2020-11-01 11:27] dayuange123 opened #147 "DefaultSubscriberRegisterFetchTaskStrategy"
Map<String/*datacenter*/, Datum> datumMap = dataNodeService.fetchGlobal(subscriber
            .getDataInfoId());
为什么这里不能从SessionCacheService获取数据

[2020-11-04 02:54] #147 closed

[2020-11-12 15:08] jacky1193610322 commented on #44
那如果server宕机之后，那么那台server上面注册的数据，如果清理？

[2020-11-26 03:57] Scan-jha opened #150 "启动DataApplication报错"
### Your question

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2020-11-26 03:58] jha042120 commented on #150
报错日志：
"C:\Program Files\Java\jdk1.8.0_31\bin\java.exe" -XX:TieredStopAtLevel=1 -noverify -Dspring.output.ansi.enabled=always -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=64282 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=localhost -Dspring.liveBeansView.mbeanDomain -Dspring.application.admin.enabled=true

[2020-11-26 05:27] jha042120 commented on #150
上面那个是启动工程控制台报的错。然后我在linux上搭建了一个注册中心，这个是日志文件：
帮忙看一下。谢谢

[2020-11-26 05:28] jha042120 commented on #150
[common-default.log](https://github.com/sofastack/sofa-registry/files/5600669/common-default.log)

[2020-11-26 05:29] jha042120 commented on #150
这个是注册中心logs下bolt下的文件日志，我看到这个在报错

[2020-11-26 11:53] dzdx commented on #150
`Caused by: java.net.BindException: Address already in use: bind`

Data启动需要listen 3个端口，检查一下端口有没有被占用
- 9620
- 9621
- 9622

[2020-11-26 11:55] dzdx commented on #142
会影响的， client是通过 registryEndpoint用http请求的方式获取到session serverList

[2020-12-08 13:07] #142 closed

[2020-12-28 03:20] zhuyoulong opened #154 "能不能加上服务管理界面和dubbo的支持，可视化管理服务，包括动态配置和服务发现，类似nacos一样"
能不能加上服务管理界面和dubbo的支持，可视化管理服务，包括动态配置和服务发现，类似nacos一样

[2021-04-01 12:27] Anlet opened #156 "服务端部署注册中心(SOFARegistry)时，会出现9622端口打开成功，但是检查失败"
### Describe the bug

服务端使用SOFARegistry v5.4.2 部署注册中心时，会出现9622端口打开成功，但是检查失败的问题。

### Expected behavior
# 查看meta角色的健康检测接口：
$ curl http://localhost:9615/health/check
{"success":true,"message":"... raftStatus:Leader"}

# 查看data角色的健康检测接口：
$ curl http://localhost:9622/health/check
{"success":true,"message":"... status:WORKING"}

# 查看session角色的健康检测接口：
$ curl http://localhost:9603/health/check
{"success"

[2021-04-01 12:30] Anlet commented on #156
打印的错误日志：
Command: java  -Dregistry.integration.home=/usr/local/software/registry-integration -Dspring.config.location=/usr/local/software/registry-integration/conf/application.properties -Duser.home=/usr/local/software/registry-integration -server -Xms512m -Xmx512m -Xmn256m -Xss256k -XX:+DisableExplicitGC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:/usr/local/software/registry-integration/l

[2021-04-07 09:15] Anlet commented on #156
经过看源码，上网百度等一番折腾后：在注册中心(SOFARegistry)的启动配置文件中加上指定网卡(JAVA_OPTS="$JAVA_OPTS -Dnetwork_interface_binding=eth0")，终于可以正常启动了，三个端口检测均正常。正当我满心欢喜的填上远程注册中心的地址，然后本地项目启动的时候。访问网址时，居然报错了。没有获得服务。
![image](https://user-images.githubusercontent.com/17976811/113840720-9211f780-97c3-11eb-97b6-1ca3f77bece8.png)
查看日志(common-error.log)发现，我一直请求的是服务器内网的地址。
![image](https://user-images.githubusercontent.com/17976811/113841

[2021-04-13 02:27] NickNYU commented on #156
Good question, thanks to @Anlet

Let me explain the issue so that others would understand:

Q1: Registry fail to start due to an address issue
A: In case of multiple nic on single machine, SOFA-Registry provides a strategy to leverage user's knowledge on selecting a nic's ip address as main address
So,  adding  a system properties through `java -Dnetwork_interface_binding=eth0` or `System.setPrope

[2021-04-13 02:29] NickNYU commented on #156
@Anlet 我上面回复了一下，好让其他同学也能理解问题的过程
目前我们给出的方案是，客户端可以通过-D参数或者config文件，指定session server（也就是注册中心入口）的地址信息

不知道有没有兴趣一起来完成这个Feature？ @Anlet

[2021-06-22 12:23] NickNYU opened #159 "SOFARegistry对接JRaft-KV，实现单Jar包启动"

[2021-06-22 12:25] LXPWing commented on #159
1

[2021-06-23 03:22] NickNYU commented on #159
@LXPWing 可以把目前的代码拉一个分支，我们从这个issue跟踪

[2021-07-08 07:35] sunjin-zbj opened #161 "想要获得当前注册了那些服务，有现成的http 接口吗？"
### Your question

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2021-07-12 01:22] zwm325715 opened #162 "构建客户端实例(RegistryClientConfig)的RegistryEndpoint问题"
构建客户端示例时,需要创建配置对象RegistryClientConfig，这里需要指定一个RegistryEndpoint(注册中心任一 Session 节点地址)。
       在创建客户端实例的时候官方文档给的案例是把sessionserver的IP直接写死在代码里
       (DefaultRegistryClientConfigBuilder.start().setRegistryEndpoint("127.0.0.1"))
问题描述:
      1.随意写死任意一台sessionserver的IP,由于sessionserver的不可靠性(宕机/重启之类/下线)发生时,调用方也正好执行这段代码会有问题吗?
      2.如果1的cass出现时有问题(注册异常)，这块是不是要调用方自己实现不可靠逻辑(配置化+调用策略)，而不是直接写死？

[2021-07-12 11:59] NickNYU commented on #162
1. 一般实践经验是配置一个带有硬负载功能的VIP
2. registry客户端在第一次链接session之后，会和session拉取一遍session的IP列表

[2021-07-13 08:02] NickNYU commented on #162
@zwm325715 不知道有没有解决你的疑虑？

[2021-07-13 10:49] zwm325715 commented on #162
通过LVS(VIP)+keepalived去落地,
如果没理解错的话建议文档提示一下开发者,毕竟牵扯运维层面的事情。

[2021-07-14 03:07] NickNYU commented on #161
data上面
/digest
/digest/datum/query 指定dataInfoId查询datum
`curl localhost:9622/digest/datum/query?dataId=xxxx@DEFAULT&group=SOFA&instanceId=DEFAULT_INSTANCE_ID `

Session上面
`curl localhost:9603/digest/getDataInfoIdList `

[2021-07-17 13:52] tsgmq opened #164 "ServiceStateMachine在snapshot的过程中没有加锁，是否安全"
### Your question
例如：DataConfirmStatusService.copy方法中，是对集合生成了新对象，但是value是引用类型，在snapshot的过程中如果还有logEntity对引用类型做修改了，是不是会导致snapshot中包含了未来的信息。
假如 logIndex=1000的时候DataNode的值Map<String/*ipAddress*/, DataNode>只有一个元素，但是snapshot的过程中又来了logIndex-1001的日志，应用到状态机中时将Map中添加了元素，导致最终snapshot的logIndex=1000,可是map内容却又2个元素了，这样在系统重启的时候，先从snapshot中恢复出来的logIndex=1000的包含了2条记录，然后应用1001的logEntity后，第二条日志会被重复执行，请指点下是不是会存在这个问题

[2021-07-17 15:19] tsgmq commented on #164
看了下源码，snapshot也是往taskQueue的ringBuffer中提交了Task,由于状态机中的Task是顺序onApply的，这样的话如果是单线程执行，就不会出现snapshot的过程中有其他logEntry处理，就不会改变状态机中的其他对象的值了吧
@Override
    public boolean onSnapshotSave(final SaveSnapshotClosure done) {
        return enqueueTask((task, sequence) -> {
            task.type = TaskType.SNAPSHOT_SAVE;
            task.done = done;
        });
    }

[2021-07-19 08:22] wilsonvolker opened #165 "Maven build failed as args is outdated. Need to update source and target option to 1.7 or later"
### Describe the bug
When I was following the [server deployment guide](https://www.sofastack.tech/en/projects/sofa-registry/server-quick-start/) from Sofa-registry to build the application via maven, an error was thrown

### Expected behavior

The maven should build the project successfully without any errors.

### Actual behavior

Errors were thrown below.

[code]

[code]

### Steps to reproduce

[2021-07-20 01:43] NickNYU commented on #165
Thanks, @wilsonvolker , please submit a PR and I will approve it once CI has passed.

The main reason why you fail to compile, is because an un-alignment between your maven version and SOFARegistry's

As SOFARegistry project started, maven 3.2.5 is still in use, and so do JDK-1.6

JDK8 should be the default JDK now

[2021-07-20 08:06] wilsonvolker commented on #165
Hi @NickNYU, I tried to use my suggested fix to build the sofa registry, but eventually find out my suggested fix cannot startup the registry service.

**Step to reproduce what I did:**
I update the following pom.xml files:
[code]

and run again
`mvn clean package -DskipTests`
It was successfully built.

However, if I proceed to start the server using `sh bin/startup.sh`. The following message wil

[2021-07-20 11:20] NickNYU commented on #165
JDK8 is preferred, and JDK16 has not been tested, it might cause a compatible issue using JDK16 @wilsonvolker

[2021-07-20 16:05] wilsonvolker commented on #165
Thanks @NickNYU

Suggest updating the README to recommend the developer to use JDK 8.

See #166

[2021-07-20 16:05] #165 closed

[2021-07-21 06:22] NickNYU commented on #164
这个是由raft框架保证了顺序性
最新的6.x版本，我们去除了raft依赖，因为raft的强一致特性，对于可用性其实是不很友好的，另外raft这种强一致的算法，也无法强管控介入去运维，例如我们想人工指定meta leader，其实是在raft下很难做到的。
@tsgmq

[2021-07-21 06:23] NickNYU commented on #162
我把这个加入到开箱即用计划中，有兴趣的话，可以认领一下
我们目前希望通过社区去开发sofa-registry，改变我们是单一开发主体的现状

[2021-07-21 06:28] NickNYU commented on #154
目前是依赖了SOFA-Dashboard做统一的界面化管理，当然，我们内部也可以搞一个简单页面
@zhuyoulong 有兴趣的话，可以认领一下这个任务，我添加到我们的项目中了

[2021-07-21 06:31] #131 closed

[2021-07-21 06:32] NickNYU commented on #130
@122093404 目前我们启动了deep-dive计划，欢迎认领这个任务

[2021-07-21 06:33] #127 closed

[2021-07-21 06:33] #112 closed

[2021-07-21 07:09] #150 closed

[2021-07-21 07:09] #139 closed

[2021-07-21 07:09] #90 closed

[2021-07-21 07:10] #75 closed

[2021-07-21 07:11] #113 closed

[2021-07-21 07:11] #110 closed

[2021-07-21 07:12] NickNYU commented on #125
@AlberZ1989 我们现在启动了两个计划，重新点亮sofa-registry社区，这个需求有兴趣认领一下吗？

[2021-07-21 07:13] #128 closed

[2021-07-21 07:21] NickNYU opened #167 "MultiProgrammLanguage - Python Client"

[2021-07-21 07:22] NickNYU opened #168 "MultiProgrammLanguage - Rust Client"

[2021-07-21 07:22] NickNYU opened #169 "MultiProgrammLanguage - C/C++ Client"

[2021-07-21 07:22] NickNYU opened #170 "MultiProgrammLanguage - C# Client"

[2021-07-21 07:22] NickNYU opened #171 "MultiProgrammLanguage - Go Client"

[2021-07-21 07:23] NickNYU commented on #130
will track this issue on project issue: https://github.com/sofastack/sofa-registry/issues/167

[2021-07-21 07:23] #130 closed

[2021-07-21 07:24] NickNYU opened #172 "Solution - Cloud Native Deployment"

[2021-07-21 07:25] NickNYU opened #173 "SOFARegistry compitable for Istio"

[2021-07-21 07:26] NickNYU commented on #125
track this in https://github.com/sofastack/sofa-registry/issues/172

[2021-07-21 07:26] #125 closed

[2021-07-25 15:06] Xunzhuo commented on #173
@assign

[2021-07-28 07:35] ZLBer commented on #171
I'm interested in this .But  I found that the Java client uses  sofa-bolt to communicate with sofa-registry, sofa-bolt has no Go version, and as far as I know, there is no HTTP communication. How should Go communicate with sofa-registry ？

[2021-07-28 08:00] NickNYU commented on #171
assigned to you, @ZLBer

you are well welcomed for joining SOFARegistry

Any questions, problems we could talk in this channel

Thanks

[2021-07-28 09:01] ZLBer commented on #171
the problem is above, I can't do it without this.

[2021-08-06 03:20] seeflood commented on #171
Yep,it seems that this task is blocked,since we don't have a bolt-go library  :<

I will publish a bolt-go task and wait for someone who is interested at that.

But for now we have to suspend this task

[2021-08-06 03:30] seeflood opened #174 "MultiProgrammLanguage - SOFABolt-Go library"
Middlewares in SOFAStack use [SOFABolt protocal](https://www.sofastack.tech/projects/sofa-bolt/overview/) to communicate with each other. Bolt protocal is designed and optimized for large scale clusters.
There are bolt libraries for java,python,node,cpp,except Golang.
In order to make sofastack's golang ecosystem better, we need to develop a bolt library in golang.

## Reference
https://github.com

[2021-08-08 06:59] byene0923 commented on #174
ooohhhh!, I want to try it.  is there any limit to develop a bolt library in golang or time limit?  my basic thought  using https://github.com/cloudwego/netpoll or https://github.com/panjf2000/gnet  as network layer

[2021-08-08 10:42] babepig018 commented on #169
I'm interested in the issue.But it doesn't have any description. Can you tell me more information？requirements or description

[2021-08-09 04:07] seeflood commented on #174
@byene0923
Cool!
Regarding the selection of network lib,there is no specific limit，but please make sure you choose a project with active community.I noticed the later one in your prefered list has a higher star,maybe that one ?But i hasn't used it before and don't know whether it has some flaws,so the final choice depends on you.

Regarding deadline,maybe this month?Also,it can be negotiated.

[2021-08-09 15:37] byene0923 commented on #174
so the library is to finish the three basic functions of sofabolt（https://github.com/sofastack/sofa-bolt）?  and I see sofabolt has some feature depend on Netty not in the list of basic function

[2021-08-10 01:08] seeflood commented on #174
Good question.
@zhenjunMa as the owner of bolt lib,could u give some advice on it?

[2021-08-10 03:08] zhenjunMa commented on #174
@byene0923  yes!  At the first version, we just need to finish the basic functions  which i think maybe not easy, such as `connection manager`, `decode/encode`, `serialization/deserialization`, when you finish the first version, we can continue to improve it together. Any problems encountered during the development process, please feel free to call us.

[2021-08-10 08:55] seeflood commented on #174
@byene0923 Hi,is there any other question?
And should we assign it to u?
ヽ(‘ー`)ノ

[2021-08-10 09:10] byene0923 commented on #174
@seeflood  no questions currently. sure,  i will do it  (๑・`◡´・๑)

[2021-08-10 11:47] seeflood commented on #174
Cool.I started [a new repo](https://github.com/sofastack/sofa-bolt-go) and you can submit pull requests to it.
If u met any problems,feel free to talk with us in github issues or dingtalk

[2021-08-12 09:35] Xunzhuo commented on #173
Hi @NickNYU There are two Proposals to make SOFARegistry compitable for Istio, I want to have a discussion with the communiy.
## Proposal one: MCP-over-XDS( I will call MCP-over-XDS by MoX for simplifying)
As the MCP protocal has been deprecated after istio 1.9, we choose MoX server to watch SOFA-Registy. At the same time, istio pilot subscribe MoX server with gRPC stream after config MoX server a

[2021-08-12 10:30] Xunzhuo commented on #125
@NickNYU I am interested in this too, after solving #173. I will spend time making this #172 happen. Please assign this to me, if there is no one to work this on.

[2021-08-12 10:51] Xunzhuo commented on #172
@NickNYU assign. First step in my view is to build the docker image for SOFA-Registy.
Container is the basic element of Cloud Native ecosystem, which can make SOFA-Registy orchest by container scheduling and management like Kubernetes.
After this, I think we maybe can try to use Helm and Chart to manage the SOFA-registy package in Kubernetes.

[2021-08-12 12:23] Xunzhuo opened #175 "Feature: Support Webassmebly in SOFA-Registy"
### Describe the feature

For the extension ability of SOFA-Registy, I think now it is a bit weak. Sometimes, user will need different abilities to extend or match their own background.

In my view, Webassembly is a trend of extension in Cloud Native . It is a fast, dynamic, cross language and safe tech. If we support this in SOFA-Registy, I think this is an interesting feature.

It can improve no

[2021-08-12 13:59] zrlw opened #176 "请问支持增量推送、首次全量推送采用压缩推送、频繁变更采用聚合推送么？"
看到有篇文章 https://archsummit.infoq.cn/2020/shenzhen/presentation/2310 介绍阿里的注册中心：
[code]
显然这个注册中心肯定不是开源的nacos，请问阿里这个注册中心和开源的SOFARegistry有关系么？SOFARegistry有没有此类功能？
阿里的这个产品叫什么? 有商用版么？

[2021-08-13 01:39] NickNYU commented on #176
非常感谢 @zrlw ，这篇文章我也是第一次学习

阿里集团内部的注册中心我知道的是用的ConfigServer，这个我在最近有篇文章《我们做出了一个分布式注册中心》中，简略地讲过，ConfigServer 在蚂蚁集团走了自己的路子之后，阿里集团自己做了很多的优化，可惜两边架构不同了，所以对于ConfigServer是具体怎么优化的，其实我也不甚了解

然后，再来讲讲，SOFARegistry的实现，上文中提到的两件事，我们都有做或者有计划在做
1. 聚合推送（目前是基于mosn实现了全量推送的压缩优化，来防止大量推送full gc的问题，压缩算法使用的是Facebook的zstd）
2. 增量推送：这个目前内部还是在设计阶段，是目前主要要做的事情

[2021-08-16 05:53] keleqnma commented on #168
I'm interested in the issue. But as same as https://github.com/sofastack/sofa-registry/issues/171,  I also found that the sofa-bolt has no Rust version, Should I implement a Rust version of the sofa-bolt first?

[2021-08-25 08:05] glmapper opened #177 "SOFARegistry provide query API for SOFADashboard"
### Your question

SOFARegistry 提供更丰富 service 查询能力

### Your scenes

为 SOFADashboard 提供 服务注册、订阅的可视化数据源

### Your advice

* 按应用查：发布了哪些、订阅了哪些
* 按服务查：有哪些实例注册和订阅

[2021-08-31 01:34] NickNYU commented on #177
@susongyan assigned

[2021-09-07 12:45] ashlee618 commented on #177
我想认领

[2021-10-31 16:06] Jiiiiiin commented on #156
按照方法（设置网卡，仅仅修改了这一个地方），启动日志都没有报错，但是`health/check`当前版本`version_5.4.5`的时候还是检查有问题：

[code]

网卡信息如下：

[code]

修改的启动脚本涉及：

[code]

因为使用vagrant 设置的网络配置：

[code]

不知道：

[code]

健康检查 返回false是为何意思。

@NickNYU 麻烦帮忙看看

[2021-10-31 16:08] Jiiiiiin commented on #156
启动日志：

`[vagrant@localhost ~]$ curl http://localhost:9615/health/check
{"success":false,"message":"MetaServerBoot sessionRegisterServer:true, dataRegisterServerStart:true, otherMetaRegisterServerStart:true, httpServerStart:true, raftServerStart:false, raftClientStart:true, raftManagerStart:false, raftStatus:false"}`

[2021-12-28 05:20] dongdongyang opened #186 "module interaction diagram"
client  session data meta之间的交互图和接口文档，有吗

[2022-01-14 03:17] dzdx opened #190 "query service openapi and doc"
## In what area(s)?

## Describe the feature

[2022-01-17 09:34] momsbaby opened #191 "meta perisistent config data新版本是没有支持么？"
sofa最新的6.x版本，看了源码，是不是还没有支持持久化的config data的推送

[2022-01-18 05:07] momsbaby opened #192 "6版本中session节点没有获取ProvideData的AbstractFetchPersistenceSystemProperty实现类"
如标题

[2022-01-18 08:41] mylinyuzhi commented on #192
在实际使用中该功能存在一些性能问题，会导致过多的请求到meta上，在v6的计划里面是换1个实现，AbstractProvideDataWatcher这个类通过定时从meta获取对应的配置在session缓存起来，提供更好的访问性能。不过当前只针对某些系统属性实现了，对于业务自定义的providedata还没打通，工作量不会特别大

[2022-02-07 09:52] momsbaby commented on #192
好的，谢谢

[2022-02-25 02:03] dzdx commented on #191
参考issue: https://github.com/sofastack/sofa-registry/issues/192

[2022-02-25 02:04] dzdx commented on #191
后续版本会支持config， 目前版本由于性能实现的问题所以先没支持了

[2022-02-28 10:19] yang724687930 opened #194 "官网文档长期未更新"
SofaRegisty的官网文档显示更新时间还是2019年，何时更新最新文档

[2022-02-28 10:24] #194 closed

[2022-03-01 02:33] dzdx commented on #194
最近更新的新版本主要在服务端上，所以官方文档只更新了服务端部署的文档：
https://www.sofastack.tech/projects/sofa-registry/server-quick-start/
对外的接口和客户端没有变化，后续会继续更新api文档和blog，欢迎关注

[2022-03-08 02:00] dzdx opened #195 "源码解析：发布订阅推送"
### 介绍

发布订阅是注册中心的核心流程，分为两种场景
- 首次订阅主动拉取服务数据推送
- 新增节点等变更事件触发对所有的订阅者的推送

### 难度: 5

### 架构流程图
![image](https://user-images.githubusercontent.com/7933207/157151013-b5244fa9-7f3c-43ce-b959-67709664c920.png)

### 参考解析
- 订阅发布以及最后触发推送的整个流程
- 过程中的合并和缓存策略等等性能优化
- session和data的数据存储是如何进行并发控制的，防止低版本错误数据写入

###  参考阅读
[code]

[2022-03-08 02:03] dzdx opened #196 "源码解析：数据同步"
### 介绍
SOFARegistry不同角色之间存在进行定时数据同步的定时任务
- data会在刚刚接收到新的slot以及定期与所有的session同步数据，确保自身内存数据的有效
- slot对应的data的follower会定期和leader进行数据同步

两种数据同步的方式类似，都是进行diff后增量同步

### 难度: 4

### 架构流程图
![image](https://user-images.githubusercontent.com/7933207/157151405-cb4a6ab1-ff8c-49eb-9817-ca0edd8eeeef.png)

### 参考解析
- 内部数据同步的流向以及实现细节
- 不同节点数据计算diff的算法、checksum

###  参考阅读
[code]

[2022-03-08 02:06] dzdx opened #197 "源码解析: SlotTable"
### 介绍

SOFARegistry对于服务数据是分片进行存储的，因此每一个data server只会承担一部分的服务数据，具体哪份数据存储在哪个data server是有一个称为SlotTable的路由表提供的，session可以通过SlotTable对对应的data derver进行读写服务数据， slot对应的data follower可以通过SlotTable寻址leader进行数据同步。
维护SlotTable是由meta的leader负责的，meta会维护data 的列表，会利用这份列表以及data上报的监控数据创建SlotTable，后续data的上下线会触发meta修改SlotTable， SlotTable会通过心跳分发给集群中各个节点。

### 难度: 5

### 架构流程图
![image](https://user-images.githubusercont

[2022-03-08 02:08] dzdx opened #198 "源码解析：无损运维"
### 介绍

SOFARegistry是一个基于内存存储的分布式注册中心，数据是分散存储在各个节点，为了做到注册中心自身运维期间依然能够对外正常提供服务，需要进行节点下线快速感知和数据迁移。

- session存储client发送的发布和订阅数据，由于client断连重放的特性，session单机下线后client会重放数据到其他节点
- data会接收session发送的发布数据，data单机下线后，meta会通过SlotTable的变更把对应Slot的所有权移交其他data，data启动后会进行数据同步到达数据完整可对外提供服务的状态

### 难度: 5

### 架构流程图
![image](https://user-images.githubusercontent.com/7933207/157151953-562ec903-409c-4eb0-bc78-d42fca0df6

[2022-03-08 02:12] dzdx opened #199 "源码解析：推送延迟trace"
### 介绍

对于分布式注册中心，整个推送过程涉及到很多的流程和节点，如何计算从发布端变更到广播给全集群所有的订阅方的延迟，每个阶段的延迟分别是多少对排查集群内部的问题及注册中心的负载具有比较大的价值，因此需要对整个推送过程进行延迟链路跟踪

### 难度: 3

### 参考解析
- 推送延迟的计算方式
- 首次订阅和后续推送延迟计算的区分
- 如何统计各个阶段的耗时

###  参考阅读
[code]

[2022-03-08 02:14] dzdx opened #200 "源码解析：通讯数据压缩"
### 介绍

为了支撑超大规模集群，SOFARegistry的data和session以及session和client (目前只有go支持）都添加了对压缩数据传输的支持，同时为了减少压缩cpu的消耗，对于压缩后数据添加了缓存

### 难度: 2

### 参考解析
- 通讯两端对于压缩算法的协商机制
- 哪些地方的数据传输使用了压缩，哪些地方使用了压缩缓存

###  参考阅读
[code]

[2022-03-08 02:16] dzdx opened #201 "源码解析：推送开关"
### 介绍

某些场景下SOFARegistry需要暂时关闭推送功能，这样集群内的业务可以利用client的缓存继续工作，比如说SOFARegistry需要进行不兼容升级，需要全集群下线，更新版本后再拉起。
推送开关的状态存储在数据库中，通过meta修改数据后，session可以通过读取到推送开关的变更通知，并在对应的推送流程上进行切断

### 难度: 3

### 参考解析
- meta如何存储开关配置数据
- session如何获取到开关配置的变更并触发更新（通知、定时）
- session关闭推送功能的实现

###  参考阅读
[code]

[2022-03-08 02:18] dzdx opened #202 "源码解析：数据倒排索引"
### 介绍

SOFARegistry有一些场景需要根据 ip:port 反查改连接所对应的所有数据，比如断链清理数据，因此需要一个倒排索引建立 ip:port -> publisher、subscriber 的关系，在超大数据量以及大量断链的场景下不会因为变量而cpu耗尽

### 难度: 2

### 参考解析
- 倒排索引如何更新，如何维护和对应数据之间的一致性
- 通过索引查询数据的流程

###  参考阅读
[code]

[2022-03-08 02:20] dzdx opened #203 "源码解析：数据表监听"
### 介绍
SOFARegistry内部的部分配置的更新需要及时感知，比如应用级服务发现的元数据变更，常见数据库并没有数据表变化通知的接口，SOFARegistry实现了对于数据表更新实时watch的机制

### 难度: 2

### 参考解析

- 对数据表结构有什么样的要求，如何写入数据
- 如何增量的读取到数据表的变更数据

﻿

###  参考阅读
[code]

[2022-03-08 02:39] dzdx opened #204 "源码解析：总览"
主要用于按从整体视角介绍SOFARegistry, 解析各个模块的主要功能以及关系

[2022-03-09 02:11] paojiao-fengzhua opened #205 "SOFARegistry 源码解析系列"
### 关于 SOFARegistry 源码解析系列

SOFARegistry 源码解析活动是由 SOFAStack 团队主办的开源活动，我们希望打造一个人人皆可参与，基于 GitHub 协作的积极透明的开源活动。

本次活动旨在增强大家对 SOFARegistry 的了解与认知，促进开源社区的交流，让大家更好的了解、学习和使用开源项目，是大家学习和使用 SOFARegistry，与 SOFARegistry 的核心开发者直接交流的一个良好契机。

本次活动所产出的文章将首先发表在 SOFARegistry 项目主页上，同时也将会进行线上全渠道的推广，经整理后的部分内容会作为 SOFAStack 官方博客中，并会在全渠道进行发布。

***

### 活动角色划分

- 参与者：所有对社区项目感兴趣的开发者。
- Reviewer：项目核心开发者，在源码解析中给予指导和建议。
- 发起人

[2022-03-09 04:24] li-xiao-shuang commented on #195
assign to me

[2022-03-09 05:44] glmapper commented on #196
/assign

[2022-03-09 06:05] xingdong015 commented on #202
/assign

[2022-03-09 06:19] hecz12 commented on #201
/assign

[2022-03-09 08:15] #6 closed

[2022-03-09 08:15] #9 closed

[2022-03-09 08:15] #10 closed

[2022-03-09 08:15] #11 closed

[2022-03-09 08:16] #18 closed

[2022-03-09 08:16] #20 closed

[2022-03-09 08:17] #21 closed

[2022-03-09 08:17] #22 closed

[2022-03-09 08:17] #23 closed

[2022-03-09 08:18] #24 closed

[2022-03-09 08:24] dzdx commented on #26
已发布

[2022-03-09 08:24] #26 closed

[2022-03-09 08:24] #27 closed

[2022-03-09 08:24] #28 closed

[2022-03-09 08:24] #29 closed

[2022-03-09 08:25] #30 closed

[2022-03-09 08:25] #31 closed

[2022-03-09 08:26] dzdx commented on #32
cache-digest.log 已添加开关可以关闭

[2022-03-09 08:26] #32 closed

[2022-03-09 08:26] #33 closed

[2022-03-09 08:28] dzdx commented on #34
建议4c8g部署， data按照单机100w pub ， 双副本考虑单机50w，   session = data * 4  500w容量预计是10 data, 40 session

[2022-03-09 08:28] #34 closed

[2022-03-09 08:33] dzdx commented on #35
6.1.4 版本优先会使用 eth0和en0 网络设备获取ip , 如果有希望自己指定的网卡，可以使用-Dnetwork_interface_binding  指定  https://github.com/sofastack/sofa-registry/blob/master/server%2Fcommon%2Futil%2Fsrc%2Fmain%2Fjava%2Fcom%2Falipay%2Fsofa%2Fregistry%2Fnet%2FNetUtil.java#L61

[2022-03-09 08:33] #35 closed

[2022-03-09 08:33] #36 closed

[2022-03-09 08:33] #37 closed

[2022-03-09 10:31] seeflood commented on #195
@li-xiao-shuang 欢迎，可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-03-09 10:34] seeflood commented on #202
@xingdong015 欢迎，可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-03-09 10:53] seeflood commented on #201
@hecz12 欢迎，可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-03-09 11:06] lianwy11 commented on #203
/assign

[2022-03-10 06:59] tkz2020 commented on #200
assign

[2022-03-10 07:21] seeflood commented on #203
@lianwy11 欢迎，可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-03-10 07:55] dzdx commented on #200
@tkz2020  欢迎，可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-03-10 08:26] kuaile-zc commented on #199
/assign

[2022-03-10 08:52] stulzq opened #206 "建议增加一个 docker 方式的快速开始"
## In what area(s)?

## Describe the feature

可以弄一个 docker-compose 脚本，让用户可以快速的把 sofa-registry 快速运行起来。

[2022-03-10 09:09] seeflood commented on #206
agreed

[2022-03-10 09:36] stulzq commented on #170
please assign to me
![image](https://user-images.githubusercontent.com/13200155/157633603-009abc79-4a71-43be-87e8-94d062c64074.png)

[2022-03-10 09:37] seeflood commented on #170
@stulzq assigned
啥时候帮layotto搞下ebpf或者jaeger 哇

[2022-03-10 09:59] seeflood commented on #170
@NickNYU @dzdx 这个是不是更适合在server支持grpc协议，让每个语言搞bolt协议有点重了

[2022-03-10 10:58] dzdx commented on #206
https://www.sofastack.tech/projects/sofa-registry/deployment/   这边有一个docker 部署的文档，目前还没有提供docker-compose 的方式，考虑主要是快速启动可以用IDE源码直接启动或者直接用 jar 启动。

也欢迎贡献一下docker-compose的启动方式 @stulzq

[2022-03-10 12:58] dzdx commented on #199
@kuaile-zc  欢迎，可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-03-12 10:10] lianwy11 commented on #203
[数据表监听总结.md](https://github.com/sofastack/sofa-registry/files/8237417/default.md)

[2022-03-12 10:13] lianwy11 commented on #203
[数据表监听总结.md](https://github.com/sofastack/sofa-registry/files/8237426/default.md)

[2022-03-16 03:14] dzdx commented on #205
文档提交地址参考：
https://github.com/sofastack/sofastack.tech/pull/850/files

[2022-03-16 04:45] xingdong015 commented on #202
[服务注册中心Session倒排正排索引.md](https://github.com/sofastack/sofa-registry/files/8258964/Session.md)

[2022-03-16 07:26] xingdong015 commented on #197
/assign

[2022-03-16 08:30] xingdong015 commented on #202
[服务注册中心Session倒排正排索引 (1).md](https://github.com/sofastack/sofa-registry/files/8260201/Session.1.md)

[2022-03-16 12:54] dzdx opened #209 "client提供一个直连9600端口的链接方式"
目前sofa-registry的默认寻址方式 `DefaultServerManager` 是先用http请求从9603端口拿到整个集群的地址列表，然后client会随机选择一个地址建立bolt connection， 这就会导致如果在mac用docker启动sofa-registry， 9603返回的地址是docker-machine 的bridge网络的ip， 从mac本机是无法建立connection。

需要实现一个新的 `com.alipay.sofa.registry.client.remoting.ServerManager` 直接返回 `RegistryClientConfig.getRegistryEndpoint`  使得client可以通过一个loadBalancer、portMapping 或者 DNS 直连sofa-registry的9600端口

[2022-03-16 13:00] stulzq commented on #209
/assign

[2022-03-16 13:05] #206 closed

[2022-03-16 13:11] #38 closed

[2022-03-16 13:14] #116 closed

[2022-03-16 13:14] #118 closed

[2022-03-16 13:15] dzdx commented on #133
support in v6 `-Dnetwork_interface_binding=eth0`

[2022-03-16 13:16] #89 closed

[2022-03-16 13:16] #74 closed

[2022-03-16 13:16] #73 closed

[2022-03-16 13:16] #72 closed

[2022-03-16 13:17] dzdx commented on #57
support by  `SlotDiffSyncer`

[2022-03-16 13:17] #57 closed

[2022-03-16 13:18] #56 closed

[2022-03-16 13:18] #58 closed

[2022-03-16 13:18] #63 closed

[2022-03-16 13:19] #50 closed

[2022-03-16 13:19] #51 closed

[2022-03-16 13:19] #52 closed

[2022-03-16 13:20] #54 closed

[2022-03-16 13:20] #53 closed

[2022-03-16 13:20] #55 closed

[2022-03-16 13:20] #69 closed

[2022-03-16 13:20] #68 closed

[2022-03-16 13:21] #70 closed

[2022-03-16 13:22] #46 closed

[2022-03-16 13:36] dzdx commented on #105
新版本已经移除rocksdbjni依赖

[2022-03-16 13:36] #105 closed

[2022-03-17 01:07] zswaaa commented on #198
assign it to me

[2022-03-17 02:33] zswaaa commented on #198
/assign

[2022-03-17 02:47] bjxiaojian opened #210 "session watch provide_data线程使用优化"
session中使用AbstractFetchPersistenceSystemProperty watch provide_data数据表中的配置变更，如推送开关，黑名单等；每个配置使用1个线程watch，当数据变更version变化后，加载最新的数据；
当watch的配置项较多时，造成线程资源浪费；考虑改成使用1个线程watch provide_data的数据变更，每次返回有变更的数据，节省线程资源；

[2022-03-17 08:38] czbcxy commented on #200
/assign

[2022-03-17 08:56] seeflood opened #211 "如果您不能在20分钟内把 demo 运行起来，请告诉我们！"
## 背景
我们在进行文档治理，追求“让用户能够在20分钟内把 demo 运行起来”

如果您阅读了 [官方文档--快速开始](https://www.sofastack.tech/projects/sofa-registry/server-quick-start/) ，但还是没法在20分钟内把 demo 运行起来，请发个issue告诉我们，issue里记得写上  /document

社区有机器人在监控 issue 区、催促项目维护者即时回复，确保项目能快速上手：
![image](https://user-images.githubusercontent.com/26001097/158776699-d5e34a65-6a97-4a0d-bcbc-a39ef43a1db7.png)

## 示例 issue
见 https://github.com/sofastack/sofa-reg

[2022-03-17 09:01] seeflood opened #212 "示例：参照文档运行时，启动报错"
### Describe the bug
/document

参照文档运行时，启动报错

报错信息:
xxxxxxxx

截图

### Expected behavior
我希望能正常启动

### Actual behavior

### Steps to reproduce
1.执行xxx
2.执行yy
3. 报错了

### Minimal yet complete reproducer code (or GitHub URL to code)
上传一下我的示例工程，此处贴个链接

### Environment

- SOFARegistry version:   6666
- JVM version (e.g. `java -version`): 7
- OS version (e.g. `uname -a`): 鸿蒙牛逼
- Maven version:  100
- ID

[2022-03-17 09:01] #212 closed

[2022-03-17 11:32] kuaile-zc commented on #199
https://note.youdao.com/s/KRcsedNx

[2022-03-17 13:55] lianwy11 commented on #203
[index.md](https://github.com/sofastack/sofa-registry/files/8287053/index.md)

[2022-03-23 03:51] paojiao-fengzhua commented on #200
欢迎，可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-03-23 06:20] paojiao-fengzhua commented on #197
欢迎，可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-03-23 07:38] kuaile-zc commented on #199
[sofa-regsitry延迟推送trace源码解析.md](https://github.com/sofastack/sofa-registry/files/8330823/sofa-regsitry.trace.md)

[2022-03-24 01:57] paojiao-fengzhua commented on #195
欢迎，可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-03-30 07:42] czbcxy commented on #200
[SOFARegistry通讯数据压缩.md](https://github.com/sofastack/sofa-registry/files/8378179/SOFARegistry.md)

[2022-03-31 13:36] zswaaa commented on #198
Sorry,i clicked wrong button,still in analyzing.

[2022-04-02 09:13] #209 closed

[2022-04-08 01:25] xingdong015 commented on #197
[SofaRegistry中 SlotTable详解.md](https://github.com/sofastack/sofa-registry/files/8447788/SofaRegistry.SlotTable.md)

[2022-04-08 12:19] dongdongyang commented on #201
/assign

[2022-04-08 12:21] dongdongyang commented on #201
/assign

[2022-04-08 12:29] YechenGu commented on #201
/assign
Hi, i want to try this issue, is it still available?

[2022-04-10 23:14] zswaaa commented on #198
[源码解析：无损运维.md](https://github.com/sofastack/sofa-registry/files/8460114/default.md)

[2022-04-11 01:17] zswaaa commented on #198
[无损运维.md](https://github.com/sofastack/sofa-registry/files/8460360/default.md)

[2022-04-11 02:48] paojiao-fengzhua commented on #201
有的，欢迎欢迎～可以加下"SOFARegistry开发者团队"的群，过程中遇到问题方便沟通
钉钉群号35524433

[2022-04-11 10:23] dongdongyang opened #214 "sofa-registry如何感知sofa-rpc-server实例的存在"
服务端有心跳到sofa-registry吗
sofa-registry如何感知服务端实例的存在？

[2022-04-11 11:10] bjxiaojian commented on #214
目前的心跳是sofabolt层面的心跳，sofa-registry client会给sofa-registry server建立tcp长连接后，给server发送心跳；同时依靠长连接的disconect事件触发client实例剔除；

[2022-04-11 23:20] zswaaa commented on #198
[源码解析：无损运维.md](https://github.com/sofastack/sofa-registry/files/8468359/default.md)

[2022-04-12 01:18] zswaaa commented on #198
[无损运维.md](https://github.com/sofastack/sofa-registry/files/8468764/default.md)

[2022-04-12 14:02] dzdx opened #215 "配置管理功能"

[2022-04-13 07:04] paojiao-fengzhua opened #216 "【社区会议回顾】大家一起聊聊 SOFARegistry"
### 会议背景

SOFA 社区在 2022 年 4 月 12 日组织了本次社区会议，和大家一起聊聊 SOFARegistry。

本次社区会议共计 38 人参加，那么大家都聊了些什么呢？看下方回顾吧

### 会议回顾

#### 1、SOFARegistry 源码解析进度同步与心得分享
- corey 分享延迟推送 trace 源码解析，收获与感触
- 程征征 分享数据倒排索引和 SlotTable 源码解析，收获与感触

#### 2、SOFARegistry 项目近一年规划
![](https://gw.alipayobjects.com/mdn/rms_1c90e8/afts/img/A*UjirR7O2rGsAAAAAAAAAAAAAARQnAQ)

#### 3、脑暴时间：SOFARegistry 应该解决那些领域问题？社区里边期望我们做那些？

社区同学的提议：

新功能

[2022-04-13 07:07] lizongyu0912 commented on #216
很开心，看到了好多老朋友哇

[2022-04-13 12:00] khotyn commented on #216
👍👍👍👍

[2022-04-16 04:17] seeflood opened #217 "[proposal] Test quickstart document in the github workflow"
## In what area(s)?

 /area docs

## Describe the feature

The quickstart document is important for new comers to know and play with our project.
But keeping the doc up-to-date is not that easy.
To make life easier, I wrote a tool [mdx](https://github.com/seeflood/mdx) to "test" the quickstart documents in Layotto, and it found out lots of document issues and code bugs, see https://github.com/mosn

[2022-04-17 08:05] nobodyiam commented on #217
Sounds like a good idea.

[2022-04-22 09:25] YechenGu commented on #201
[推送开关.md](https://github.com/sofastack/sofa-registry/files/8539492/default.md)

[2022-04-22 12:40] bjxiaojian opened #218 "源码解析：registry meta选主"
### 介绍
SOFARegistry meta负责注册中心内部的集群列表发现与更新，slot调度等；因此需要选举出一个leader进行这些工作；

### 难度：2

### 参考阅读：

- com.alipay.sofa.registry.store.api.elector.LeaderElector
- com.alipay.sofa.registry.store.api.elector.AbstractLeaderElector
- com.alipay.sofa.registry.jdbc.elector.MetaJdbcLeaderElector

[2022-04-22 12:42] dongdongyang commented on #218
/assign

[2022-04-23 13:20] HKui97 commented on #202
这个md文件图片加载不出来？别的md里面图片好像能加载出来，是我电脑问题么？

[2022-04-24 02:24] dzdx commented on #202
@HKui97   可以看下这个
https://www.sofastack.tech/projects/sofa-registry/code-analyze/code-analyze-data-inverted-index/

[2022-05-12 10:06] #202 closed

[2022-05-12 10:06] #201 closed

[2022-05-12 10:06] #200 closed

[2022-05-12 10:06] #199 closed

[2022-05-12 10:06] #196 closed

[2022-05-12 10:07] #198 closed

[2022-05-12 10:07] #197 closed

[2022-05-12 10:07] #195 closed

[2022-05-12 10:07] #218 closed

[2022-05-14 02:05] dzdx opened #219 "support gRPC client"
pub/sub gRPC client

[2022-05-25 06:03] Webster-Yang commented on #190
/assign

[2022-05-27 06:06] dzdx opened #225 "Informer 导致fgc"
### Describe the bug

Informer上的container由于采用半小时重建一次替换的方式进行更新，所以旧的对象会进入old区，导致old区一直升高引起fgc
![image](https://user-images.githubusercontent.com/7933207/170640150-7d56d4a6-86fe-47bc-94dd-ff15e0912d11.png)

![image](https://user-images.githubusercontent.com/7933207/170640205-8223cc0f-8ffa-467e-b3e3-a5d3347360c4.png)

需要对这部分内存占用进行优化
- InterfaceAppsIndexContainer内的String使用wordcache
- 由于不存在并发写，使用hashmap

[2022-05-27 09:51] NickNYU commented on #225
可以尝试依赖off heap的：https://github.com/cfelde/BinaryOffheapHashMap#:~:text=The%20BOHMap%20is%20a%20hashmap,entries%20stored%20in%20the%20map.

也可以自己实现：
https://blogs.oracle.com/javamagazine/post/creating-a-java-off-heap-in-memory-database

[2022-05-29 08:02] bjxiaojian commented on #210
1. AbstractFetchSystemPropertyService是最初的配置获取方式，但是session不依赖db，所有provide_data配置都从meta leader中获取；
2. 后面架构设计中session可以直接从db中读取数据，所以后续新增的provide_data配置直接使用AbstractFetchPersistenceSystemProperty从db中获取，但每个provide_data配置使用了1个线程；
3. 这个优化可以移除AbstractFetchSystemPropertyService，然后对AbstractFetchPersistenceSystemProperty的实现使用1个线程获取所有的watch配置。

[2022-05-29 08:13] MichaelDeSteven commented on #210
明白。这个任务可以交给我吗，我试试

[2022-05-29 08:22] bjxiaojian commented on #210
可以的， 可以回复一个assign。有问题随时交流

[2022-05-29 08:24] MichaelDeSteven commented on #210
/assign

[2022-05-29 08:27] bjxiaojian commented on #210
可以加下"SOFARegistry开发者团队"的群，先简单交流一下实现方案，过程中遇到问题方便沟通
钉钉群号35524433

[2022-06-01 09:52] bjxiaojian opened #226 "[bugfix]RegistryCoreOpsResource quit server"
### Describe the bug

6.1.4迭代中RegistryCoreOpsResource修改了/server/group/quit/{ip}，meta发布到6.1.4版本后，data,session发布时关流量仍然执行老的url，导致关流量调用报错。

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
-

[2022-06-01 12:13] #226 closed

[2022-06-02 06:08] dzdx opened #229 "减小 bolt.tcp.server.idle.interval"
### Your question

物理机宕机时，心跳停止，目前需要90s才能发现链接失效开始清理，耗时过长，默认值需要调整为50s

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFARegistry version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2022-06-07 10:06] dzdx opened #232 "OpenAPI"
# OpenAPI 需求

- 数据查询
  - 查询集群发布
    - 根据dataId查询
  - 查询集群订阅
    - 根据dataId查询
  - 查询单机发布
    - 根据dataId查询
    - 根据连接查询
  - 查询单机订阅
    - 根据dataId查询
    - 根据连接查询
  - 查询单机接口列表
- 数据修改
  - 黑名单
    - 添加IP列表
    - 删除IP列表
    - 查询列表
  - 临时删除 pub
    - 根据IP列表
  - 禁用 pub
    - 添加IP列表
    - 删除IP列表
- 管理API
  - 健康检查
  - 自身节点列表
  - 推送开关
    - 修改
    - 查询
  - metrics

[2022-07-26 02:16] Kelei0215 opened #247 "SOFARegistry 第二次社区会议"
### 今晚 19:00，SOFARegistry 第二次社区会议(线上)就要和大家见面啦～

好久不见甚是想念，想必大家高低对 SOFARegistry 有点啥要交流讨论（吐槽）一下的，这不机会就来了！🥳

这次我们将从「SOFARegistry 与其他注册中心的数据同步对比」来展开，想来扔砖（听听）的记得晚上 **19:00** 准时参与哦🧸

无论你有没有参与过 SOFARegistry 项目，只要你有兴趣，就进来聊聊吧！

### 会议主题

SOFA 社区会议｜SOFARegistry 与其他注册中心的数据同步对比

### 会议时间

2022 年 7 月 26 日 **（今晚）19:00 - 20:00**

### 参与方式（钉钉会议）

加入钉群：**35524433**

入会口令：**354 712 14440**

入会链接：[dingtalk://dingtalk

[2022-07-26 11:29] dzdx commented on #154
计划在SOFARegistry内置一个Dashboard，初版只提供简单的工单：
- 根据dataId查询pub/sub
- 根据ip查询pub/sub

[2022-07-28 12:41] Kelei0215 opened #249 "【社区会议回顾】SOFARegistry 与其他注册中心产品的数据同步对比"
## 会议背景

SOFA 社区在 2022 年 7 月 26 日组织了本次社区会议，和大家一起聊聊 SOFARegistry 的横向对比和最新进展。

本次社区会议共计 24 人参加，那么大家都聊了些什么呢？一起来看下方回顾吧～

## 会议回顾

1、社区 Maintainer 昱恒分享了常见数据一致性的模型和同步方式，从源码层面分析了 etcd、Eureka、Nacos、SOFARegistry 的数据同步实现方式，并总结了他们的特点；

2、社区负责人向旭给出了 SOFARegistry 下半年主要的方向，会放在加强产品化建设、提供易用性。并会在发布支持多机房数据同步的版本和注册中心通用测试框架的开源；

3、最后有用户咨询了他们在使用 SOFARegistry 过程中遇到的一些疑问，向旭给出了一些可能的推断，以及对应问题的应急措施。

## 会议总结

本次分享主要围绕昱恒的分享

[2022-07-30 08:58] #229 closed

[2022-08-02 03:35] liqipeng opened #250 "sofa-registry文档的构建命令缺少-Pserver-release参数无法生成.tgz包"
当前官网文档 （ https://www.sofastack.tech/projects/sofa-registry/server-quick-start/ ） 提供基于源码的构建命令是：
[code]
其中的```mvn clean package -Dmaven.test.skip=true```缺少 ```-Pserver-release``` 参数

已提PR
https://github.com/sofastack/sofastack.tech/pull/981

[2022-08-02 05:20] #250 closed

[2022-08-05 02:38] #225 closed

[2022-08-24 08:39] shuangchengsun opened #263 "Session Server 如何维护实例的状态"
<img width="890" alt="image (1)" src="https://user-images.githubusercontent.com/33629004/186371884-46c0003a-e865-4d0c-b2d0-e99c81253d6e.png">
上述图展示了实例（client）的上下线过程，

[2022-08-24 08:53] dzdx commented on #263
data上有一个定时器去维护每个session相关数据的，如果session挂了，data大约30s后把挂掉的session的数据清理掉，同时链接挂掉的session上的client（除了要下线的那个）会自动重连到其他session上，然后会把数据增长一个version重新注册到session上，session会再次发到那台data上 @shuangchengsun

[2022-08-24 08:59] dzdx commented on #263
@shuangchengsun  com.alipay.sofa.registry.server.data.lease.SessionLeaseManager

[2022-08-24 09:00] shuangchengsun commented on #263
感谢大佬，我去啃一啃代码。 @dzdx

[2022-08-25 11:14] dzdx opened #265 "feature: custom client IP"
# 场景
在某些情况下，client和session并不是直连，比如跨VPC，需要通过lb进行连接，此时由于注册中心看到的remoteAddress并不是PodIP，会导致按IP关流，黑名单能功能失效，注册中心需要支持读取client上传的自定义IP，作为关流和黑名单的查找key
![image](https://user-images.githubusercontent.com/7933207/186649831-196710c2-1525-4c43-9dbb-8f761262fbf8.png)
比如在这边的场景中
希望对ip1加黑，但注册中心看到的请求对应链接的地址都是ip3, 而对ip3加黑会把全部app的pub/sub全部加黑。

- client 支持setIP
- registry 看到如果pub.ip和connection.remoteAddress不一样，需要采用pub.i

[2022-09-07 11:19] shuangchengsun opened #266 "How to Define the SLA"
我在Sofastack.tech上看到了很多关于Sofa-registry的分析文章，但是并没有看到关于SLA的部分，如果方便的话，我想知道对于sofa-registry这样的系统是如何定义SLA的，以及有没有一个参考值。

[2022-09-08 09:27] JervyShi commented on #266
一般 SLA 的定义和系统的关键指标相关，类似 registry 的核心就是 Pub Sub 模型，Pub 列表变化后及时推送给 Sub，那么 SLA 的定义就可以从类似 Pub 变更后在多长的周期内能推送给所有的 Sub，这个成功率应该高于多少，类似这种方式去定义。参考值这个看系统维护者对这个系统的要求吧，这个没什么标准值。

[2022-09-16 10:36] misselvexu commented on #216
👍 When is the next community meeting expected to be held ?

[2022-10-14 06:49] asa3311 opened #273 "SOFARegistryChaos"
### Your question
In HZ archsummit, I learned SOFARegistryChaos. but in githup, I don not find SOFARegistryChaos? Where I can find something about SOFARegistryChaos in githup?

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFARegistry version:
- JVM version (e.g. `j

[2022-10-24 03:38] nobodyiam commented on #273
Because it's not open-sourced yet...
Though it is widely used in ant group, it needs more effort before publicly available, e.g. adding more registry support(zk/consul/nacos/etc).
There is no exact timeline for now but we will keep working on it.

[2022-11-01 03:17] xingdong015 commented on #219
/assign

[2022-11-02 02:48] xingdong015 commented on #219
@dzdx please asign to me

[2022-11-02 03:29] NickNYU commented on #219
done